<p class="mt-4">
	<strong>Index endpoint:</strong> <%= @endpoint.name %> – <%= @endpoint.longname %><br>
	<strong>GWS hits:</strong> <%= @endpoint.gws_hits %>
</p>

<div id="vue-correlations" class="corr-scrolling mt-4">
	<corr-table v-bind:rows="rows"/>
</div>
