:root {
    --finregistry-brand-color: oklch(70.38% 0.123 182.5);
    --finregistry-brand-color-light: oklch(96.4% 0.01 182.5);
    --finngen-brand-color: oklch(44.98% 0.251 280.5);
    --finngen-brand-color-light: oklch(96.4% 0.01 280.5);
}
