/* .scrolling is already defined elsewhere so using it will mess with this
   table layout */
#correlations .corr-scrolling {
	max-height: 500px;
	overflow-y: scroll;
	position: relative;

	/* If not set, scrolled text will appear above the table header.
	   We could have used padding-top: 0; only, but it actually looks better
	   with no padding at all.
	 */
	padding: 0;
}

/* Reset default display: table; from browsers */
#correlations [role="table"] {
	display: block;
}

#correlations [role="rowgroup"]:nth-child(1) {
	position: sticky;
	top: 0;
	background-color: #fafafa;
	border-top-width: 1px;
	border-bottom-width: 1px;

	font-weight: bold;
}

#correlations [role="row"] {
	display: grid;
	grid-template-columns: 3fr 6fr 2fr 2fr 2fr 2fr 2fr;
}

#correlations [role="cell"]:nth-child(1) {
	overflow: hidden;
}
