/* .scrolling is already defined elsewhere so using it will mess with this
   table layout */
#correlations .corr-scrolling {
	max-height: 500px;
	overflow-y: scroll;
	position: relative;

	/* If not set, scrolled text will appear above the table header.
	   We could have used padding-top: 0; only, but it actually looks better
	   with no padding at all.
	 */
	padding: 0;
}

#correlations [role=dialog] article {
	max-height: 70vh;
	overflow-y: scroll;
}


:root {
	--border-thin: 1px solid #c7c7c7;
	--border-thin-light: 1px solid #d1d1d1;
	--border-dark: 2px solid #c7c7c7;

	--color-lightest: #fff;
	--color-light: #efefef;
}
button.authn {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;

	background: linear-gradient(var(--color-lightest), var(--color-light));
	border-top: var(--border-thin-light);
	border-bottom: var(--border-dark);
	border-right: var(--border-thin);
	border-left: var(--border-thin);
	border-radius: 0.4rem;
	padding: 0.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.45rem;
	letter-spacing: -0.02rem;
	font-weight: 700;
}

button.authn img {
	margin-right: 0.5rem;
}
