#documentation-navigation {
	/* Hide the navigation title to display subtitles only, as they are enough
	 * on there own.
	 * Why put a <h2> to hide it then? Because assistive technologies like
	 * screen readers benefits from it.
	 */
	display: none;
}

.learning-paths {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.learning-paths h3 {
	margin-bottom: 1rem;
}

/* Resetting links
 * The goal is to have each block clickable while still having the descriptions
 * in normal black text.
 * It doesn't work to just but color: black; and text-decoration: none; on <p>,
 * probably since <a> has stronger specificity so it's style gets applied to
 * all text.
 * The solution used here is to set <a> for the whole section to black
 * no-underline, and then reapply standard <a> color and underline only
 * for <h4>.
 */
.learning-paths a:any-link{
	color: black;
	text-decoration: none;
}
.learning-paths a:link h4 {
	@apply text-blue-darker;
	text-decoration: underline;
}
.learning-paths a:visited h4 {
    color: #662186;
}
.learning-paths a:hover h4 {
    @apply text-blue-dark;
}
.learning-paths a:focus h4 {
    @apply bg-blue-dark;
    @apply text-grey-lightest;
    @apply no-underline;
    outline: 3px solid #2779BD;
}

.practical {
	justify-self: end;
}

.doc-mode {
	border: 1px solid #dae1e7;
	border-radius: 0.3rem;
	background-color: #f1f5f8;
	max-width: 50ch;
	padding: 0.5rem 0.7rem;
	margin-bottom: 1rem;
}

.doc-mode h4 {
	margin-bottom: 0.3rem;
}


.how-to li {
	margin-bottom: 0.4rem;
}

.documentation img {
	border: 3px solid black;
	border-radius: 7px;
	box-shadow: 0px 0px 7px 5px #d6dbdf;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}
