[role="table"] {
	display: table;
}
[role="table"] [role="row"] {
	display: table-row;
}
[role="table"] [role="rowheader"],
[role="table"] [role="cell"] {
	display: table-cell;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
	@apply px-3;
}

.endpoint-explainer [role="table"] {
	@apply mt-2;
	@apply mb-4;
}

.endpoint-explainer [role="table"] [role="row"]:nth-child(odd) {
	@apply bg-grey-lightest;
}

.minidiag {
	background-image: url(/images/minidiag_bg_line.svg);
	background-repeat: repeat-y; 
}

.minidiag-source {
	margin-bottom: 1.3rem;
	position: relative;
	cursor: default;
}

.minidiag-source > span {
	@apply bg-grey-lightest;
	border: 1px solid #cdcdcd;
	border-radius: 0.2rem;
	padding-left: 1ch;
	padding-right: 1ch;
}

.minidiag-source > img {
	position: absolute;
	left: 29px;
	bottom: -24px
}

.minidiag-step {
	margin-left: 2.9rem;
	margin-bottom: 0.3rem;
	position: relative;
}

.minidiag-step.empty {
	height: 2.1rem;
	color: rgba(0, 0, 0, 0.54);
}
.minidiag-step.empty .minidiag-step-name {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.minidiag-step:last-child {
	margin-bottom: 1.5rem;
}

.minidiag-step-name {
	border: 1px solid black;
	border-radius: 0.2rem;
	@apply px-1;
	cursor: default;
}

.minidiag-sink {
	position: relative;
	cursor: default;
}
.minidiag-sink > span {
	@apply bg-grey-lightest;
	border: 1px solid #cdcdcd;
	border-radius: 0.2rem;
	padding-left: 1ch;
	padding-right: 1ch;
}
.minidiag-sink .minidiag-triangle {
	position: absolute;
	top: -16px;
	left: 29px;
}

.minidiag-bullet {
	position: absolute;
	left: -16px;
	top: 4px;
}

.minidiag-triangle {
	position: absolute;
	left: -17px;
	top: -7px;
}
