[role="table"] {
	display: table;
}
[role="table"] [role="row"] {
	display: table-row;
}
[role="table"] [role="rowheader"],
[role="table"] [role="cell"] {
	display: table-cell;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
	@apply px-3;
}

.endpoint-explainer {
	position: relative;
}

.endpoint-explainer [role="table"] {
	@apply mt-2;
	@apply mb-4;
}

.endpoint-explainer [role="table"] [role="row"]:nth-child(odd) {
	@apply bg-grey-lightest;
}


.link-upset-plot {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 13rem;
	max-width: 17rem;
	text-align: right;
	@apply mr-2;
	@apply mt-2;
}

.link-upset-plot .no-data {
	color: #757575;
}


.minidiag {
	background-image: url(/images/minidiag_bg_line.svg);
	background-repeat: repeat-y; 
}

.minidiag-source {
	position: relative;
	cursor: default;
}

.minidiag-source > span {
	@apply bg-grey-lightest;
	border: 1px solid #cdcdcd;
	border-radius: 0.2rem;
	padding-left: 1ch;
	padding-right: 1ch;
}

.minidiag-source > img {
	position: absolute;
	left: 69px;
	bottom: 20px
}
.minidiag-source > .minidiag-step-ncases {
	left: 57px;
}

.steps {
	position: relative;
	left: 40px;
}

.minidiag-step {
	margin-left: 2.9rem;
	position: relative;
}

.minidiag-step.empty {
	position: relative;
	color: rgba(0, 0, 0, 0.54);
}
.minidiag-step.empty .minidiag-step-name {
	border: 1px solid rgba(0, 0, 0, 0.3);
}
.minidiag-step-none {
	margin-left: 0.5rem;
	font-style: italic;
}

.minidiag-step-name {
	border: 1px solid black;
	border-radius: 0.2rem;
	@apply px-1;
	cursor: default;
}

.minidiag-step-ncases {
	position: relative;
	left: -43px;
	margin-top: 1rem;

	font-size: 0.875rem;
	color: black;
	background-color: white;

	width: 8ch;
	text-align: center;
}
.minidiag-step-ncases.all-cases {
	width: 20ch;
	left: 30px;
}

.minidiag-sink {
	position: relative;
	left: 40px;
	cursor: default;
}
.minidiag-sink > span {
	@apply bg-grey-lightest;
	border: 1px solid #cdcdcd;
	border-radius: 0.2rem;
	padding-left: 1ch;
	padding-right: 1ch;
}


.minidiag-step-hist {
	border: 1px solid black;
	height: 8px;
	width: 50px;
	position: absolute;
	left: -45px;
	top: 6px;
	border-radius: 0.15rem;
}
.minidiag-step-hist .fill {
	background-color: black;
	height: 100%;
	border-radius: 0.15rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.minidiag-bullet {
	position: absolute;
	left: -16px;
	top: -1px;
}

.minidiag-triangle {
	position: absolute;
	left: -17px;
	bottom: 21px;
}


@media (min-width: 650px) {
    #upset-plot > [role=dialog], #table-case-counts > [role=dialog] {
        width: 98vw;
        height: 98vh;
        max-width: initial;
        max-height: initial;

        margin: auto;
        margin-top: 1vh;
    }

	#upset-plot iframe {
		height: 90vh;
		width: 90%;
	}
    #table-case-counts iframe {
    	height: 90vh;
    	width: 100%;
    }

    #upset-plot article, #table-case-counts article {
    	overflow-y: initial;
    }

}
