/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

/* |||| imports from separate files */
@import "endpoint_explainer";
@import "similar_endpoints";
@import "correlations";
@import "documentation";

/* |||| GENERAL STYLES
Provide default styling,
i.e. styles that apply unless style is specified for an element
Use mainly HTML tags and attribute selectors
*/

* {
    line-height: 1.5;
}

header h1 {
    margin-bottom: 0.35rem;
}

/* -- abbreviations */
abbr[data-title] {
    position: relative;
    text-decoration: underline dotted;
    cursor: help;
}
abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
    content: attr(data-title);

    position: absolute;
    left: 0rem;
    bottom: -3.5rem;
    width: auto;
    white-space: nowrap;
    padding: 0.6rem;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 0.9rem;
    font-weight: normal;
    border-radius: 3px;
}
abbr > a {
    /* remove solid underline so we can see the dotted underline of <abbr> */
    text-decoration: none;
}

/* -- anchor element */
a:link {
    @apply text-blue-darker;
}
a:visited {
    color: #662186;
}
a:hover {
    @apply text-blue-dark;
}
a:focus {
    @apply bg-blue-dark;
    @apply text-grey-lightest;
    @apply no-underline;
    outline: 3px solid #2779BD;
}


/* -- Table elements */
th, [role="columnheader"] {
    text-align: left;

}
td, [role="cell"] {
    font-variant-numeric: tabular-nums;
}
th, td, [role="cell"], [role="columnheader"] {
    @apply p-1;
    @apply px-3;
}

/* -- Footer */
footer {
    min-height: 10rem;
}
footer a,
footer a:link, footer a:visited {
    @apply border-grey;
}
footer a:hover {
    @apply border-blue-darker;
}

footer p {
    @apply mb-4;
}
footer p:last-child {
    margin-bottom: 0;
}


/* |||| UTILITIES/ COMPONENTS
Utility classes are small and simple components that add some property, e.g. color,
and can be applied to many different elements.
Many utility classes can be composed to generate a desired style.
Tailwind has ready-made utility classes, e.g. .itlic and .pl-16,
that are applied if the class name is given in html file -> no need to write the CSS rule.
*/

/* -- Shadow */
.subtle-shadow {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);  /* Subtle shadow for every block of the main content */
}

/* -- Colors */
.bgcream {
    background-color: hsl(50, 40%, 97%);
}

.grey {
    color: rgba(0, 0, 0, 0.54);
}

/* -- text formatting */
.text-center {
    text-align: center;
}

.space-nowrap {
    white-space: nowrap; /* no wrapping text -> in the link to home page, keeps 'R-' next to 'Risteys' */
}

/* -- grid */
/* -- grid - 1 column */
.grid-1col {
    display: grid;
    grid-template-columns: 1fr
}

@media (min-width: 650px) {
    .grid-1fr-1fr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}

/* -- padding and margin */
.p1-m1 {
    @apply p-1;
    @apply m-1;
}

.ml2-pl6 {
    @apply ml-2;
    @apply pl-6;
}

/* add padding-top to direct child <li> elements, except for the first child
-> adds space between the "main" list elements but not on top of the list or between sublist elements*/
.list-padding > li:not(:first-child) {
    @apply pt-3;
}

/* -- containers */
.fluid-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* -- alternating background, useful for table rows */
.alternate-bg > *:nth-child(2n + 1) {
    @apply bg-grey-lightest;
}

/* this class allows wrapping a long string without a white space character for inline elements.
use this class for <span> element, if it's content is or might be really long string
without white spaces that might cause the content to overflow */
.word-break {
    word-break: break-all;
}

/* |||| SITEWIDE
Styles or reusable "styling objects" that are used thoughout the Risteys site,
i.e. common styles that are not site-specific but don't have to be used in every page
*/

/* || SITEWIDE -- Layout styles
Styles that are used in both /layout/minimal.html.heex & /layout/app.html.heex */

/* -- FinRegistry promo banner */
.fr-banner {
    font: italic 1rem monospace;
    text-align: center;
    padding: 0.5em 0.35em 0.7em;
    background-image: linear-gradient( 180deg, hsl(55deg 90% 68%) 0%, hsl(51deg 81% 61%) 64%, hsl(49deg 75% 53%) 80%, hsl(48deg 99% 42%) 88%, hsl(44deg 46% 42%) 94%, hsl(42deg 14% 35%) 97%, hsl(208deg 53% 23%) 100% );
}
.fr-banner a {
    font-style: initial;
}

/* -- Header */

.header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.header > * {
    margin-left: 0.25rem;
}

.header > .actions {
    display: none;  /* Will be displayed in the navigation widget instead */
}
header .actions a {
    @apply ml-6;
}

.header > h1 > a,
.header > .actions > a,
.header > h1 > a:link,
.header > .actions > a:link,
.header > h1 > a:visited,
.header > .actions > a:visited,
.white-link-no-underline > a {
    @apply text-white;
    @apply no-underline;
}

.header > h1 > a:hover,
.header > .actions > a:hover,
.white-link-no-underline > a:hover {
    @apply border-solid;
    @apply border-white;
    @apply border-b;
}

.header > h1 > a:hover {
    @apply border-b-4;
}

.header > h1 > a:focus,
.header > .actions > a:focus {
    @apply border-none;
    outline: 12px solid #2779BD;
}

/* -- Layout -- Navigation */

.subnav {
    @apply ml-2;
    position: relative;
}

.subnav-content {
    display: none;
}

.subnav:hover .subnav-content {
    display: block;
}

.subnav:hover a {
    @apply text-white; /* text remains white when hovered over*/
}

.subnav-content ul {
    list-style: none; /* no bullet points to list items*/
}

.subnav-content a {
    color: white;
    text-decoration: none; /* no underline before hovering over*/
    font-weight: normal;
  }

.subnav-content ul li a:hover {
    @apply underline
}

/* Using a CSS id for the element to be easily gettable with JS */
#toggle-nav-menu {
    margin-right: 1.5rem;
}

/* Using a CSS id for the element to be easily gettable with JS */
#nav-narrow {
    display: none;  /* Hidden by default, is visible after user click */

    margin-left: auto;
    margin-right: auto;

    color: black;

    @apply bg-white;
    @apply border;
    @apply rounded-lg;
    @apply mb-2;
    @apply py-1;
    @apply px-2;
}

#nav-narrow > p > * {
    @apply p-1;
    @apply m-1;
}

.section-title {
    text-transform: uppercase;
    @apply text-blue-darker;
    font-weight: bold;
}

@media (min-width: 650px) {

    /* Header on other pages that front page (Endpoint page, Methods, etc.) */
    .header {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: unset;
        align-items: unset;
    }

    .header > * {
        margin-left: 0;
    }

    .header .actions {
        display: unset;
        text-align: right;
        align-self: center;
    }

    #toggle-nav-menu {
        display: none;
    }
}

/* || SITEWIDE -- Styles that can be used across different pages */

/* -- Typography */
/* project intro texts */
.white-link > a  {
    @apply text-white;
}

/* -- Info message */
.info {
    display: grid;
    grid-template-columns: 46px auto;
    grid-gap: 1ch;
}

.info > img {
    height: 40px;
    width: 40px;
    margin-top: 0.4rem;
}

.info > article {
    align-self: center;
}

/* -- Indicator: no data */
.no-data {
    color: #757575;
}

/* -- box */
main .box{
    @apply border;
    @apply mb-8;
    @apply mt-4;
    @apply subtle-shadow;
}

main article.box {
    background-color: white;
}

main article.box h2 {
    @apply bg-grey-lightest;
}

main article.box h3 {
    @apply mb-2;
}

.box_content {
    @apply p-4;
}

.box_content > * {
    @apply p-2;
}

.box_content > ul,
.box_content > ol {
    @apply pl-12;
}

/* -- Title block */
.title {
    display: grid;
    grid-template-columns: 1fr;
    @apply bg-grey-lighter;
    @apply border;
}

.description {
    background-color: white;
}

.links {
    justify-self: unset;
    align-self: center;
}

.links a {
    @apply mr-2;
}

@media (min-width: 650px) {
    .title {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
    }

    .description {
        grid-area: 3 / 1 / 4 / 3;  /* put on 3nd line, span 2 columns */
    }

    .links {
        justify-self: right;
    }
}

/* |||| PAGE specific styles */

/* || HOME / FRONT / SEARCH PAGE */

.highlight {
    @apply bg-yellow-lighter;
}

.card {
    @apply bg-white;
    @apply p-4;
    @apply rounded;
    @apply border-2;
    @apply subtle-shadow;
}

.title_bold_blue_uppercase {
    text-transform: uppercase;
    @apply text-blue-darker;
    font-weight: bold;
    @apply text-lg;
}

.demo-endpoints {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    align-items: start;
}
.demo-endpoints li {
    @apply my-1;
}

@media (min-width: 650px) {
    /* header on front page */
    .header.frontpage {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    .header.frontpage h1 {
        @apply mt-12;
    }
    .header.frontpage h2 {
        @apply mb-6;
        @apply mt-4;
    }
}

.frontpage .subnav {
    margin-left: 1.5rem;
}

.frontpage .subnav-content {
    padding-top: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}


/*|| CHANGELOG PAGE */
.changelogs tbody td:nth-child(n + 2) {
    text-align: left;
}
table.changelogs td:nth-child(n + 2) {
    @apply font-mono;
}

/*|| ENDPOINT PAGE */

/* -- Navigation */
nav.wide {
    display: none;
}

@media (min-width: 650px) {
    nav.wide {
        display: block;
        width: 1200px;
        margin: auto;
        margin-bottom: 2rem;
    }
    nav.wide a {
        margin-left: 1rem;
    }
}

/* -- Navigation -- Version selector / navigation bar to previous versions of Ristyes */
.R-nav {
    @apply ml-0; /* overwriting "header .actions a {@apply ml-6;}" to have "R-" closer to "Risteys" -> more on left -> subnav right below R-"*/
    list-style: none; /* remove arrow */
}

/* to remove arrow, this is used because Chromium-based browsers do not support list-style on the summary element */
.subnav summary::-webkit-details-marker {display: none; }

/* add own icon */

.subnav details > summary {
    outline: none; /* remove border */
    cursor: pointer;
}

.subnav details summary::after {
    content: "▸";
    position: relative;
    left: -5px;
    bottom: -1px;
}

.subnav details[open] summary::after {
    content:"▾";
}

.R-subnav {
   font-size: 15px;
   position:absolute; /* together with .details-R-nav position makes submenu not to change alingment of elements in the heading */
   @apply bg-blue-darker;
   z-index: 30;  /* appear on top of the search field in narrow view */
   @apply p-2;
   @apply rounded;
}

.R-subnav li a {
    margin-left: 0rem; /* to over write header .actions a {margin-left: 1.5rem; } */
}

.details-R-nav {
    position:relative; /* together with .R-subnav position makes submenu not to change alingment of elements in the heading */
    display:inline;  /*makes <details> tag to behave as an inline element -> 'R-' remains usually next to 'Risteys'*/
}

/* -- Search box  */
.header .searchbox {
    justify-self: center; /* horizontal centering */
    align-self: center; /* vertical centering */
}

.header div[role="combobox"] {
    display: inline-block;
}

.header div[role="combobox"] input {
    width: 20em;

    /* be above the #search-results shadow */
    position: relative;
}

.header div[role="combobox"] #search-results {
    position: absolute;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    z-index: 1;  /* put above page elements, other gets mixed up with page text */
}

/* -- Faded button */
.button-faded {
    @apply text-sm;
    @apply p-2;
    @apply border;
    @apply border-black;
    @apply rounded;
    background-color: #fafafa;
}

.button-faded:hover {
    @apply text-white;
    @apply bg-blue-dark;
}

.button-faded:active {
    @apply bg-blue-darker;
}

a.button-faded {
    @apply text-black;
    @apply no-underline;
}

/* -- Split heading [ left       |   right ] */
.left-right-heading {
    display: grid;
    grid-template-columns: auto auto;
    @apply bg-grey-lightest;
}

.left-right-heading > a {
    display: block;
    text-align: right;
    text-decoration: none;
    @apply text-2xl;
}

/* -- Attention-catcher button */
.button-out,
a.button-out {
    @apply p-1;
    @apply px-2;
    @apply bg-black;
    @apply text-white;
    @apply rounded;
    @apply font-bold;
    @apply no-underline;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.endpoint-browser {
    /* Background made by mixing Risteys color and Endpoint Browser color,
       using https://www.joshwcomeau.com/gradient-generator/
     */
    background: linear-gradient(
        175deg,
        hsl(207deg 66% 45%) 0%,
        hsl(210deg 62% 48%) 23%,
        hsl(214deg 63% 53%) 36%,
        hsl(219deg 68% 57%) 46%,
        hsl(224deg 73% 62%) 55%,
        hsl(232deg 78% 67%) 64%,
        hsl(241deg 84% 72%) 73%,
        hsl(251deg 91% 72%) 81%,
        hsl(261deg 97% 72%) 90%,
        hsl(270deg 100% 72%) 100%
    );
}

/* keep PheWeb button blue */
a.button-out{
    @apply bg-blue-dark;
}
/* -- "?" help-button */
.help-button {
    @apply border-2;
    @apply border-black;
    @apply rounded-full;
    @apply px-2;
    @apply bg-white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    /* setting line-height of 1.15 for buttons makes them have the same shape independent from where
    they are used and makes them fit to (table) rows with height 1.5 without making the rows to be taller */
    line-height: 1.15;
}

/* keep text black and without underline also when the text is in <a> element
This rule selector needs an <a> elemnt to overwrite a:hover and a:visited selectors*/
a.help-button {
    @apply text-black;
    @apply no-underline;
}

/* -- Sections */
/* CSS is imported from or used in separate files for these sections or components:
    - endpoint explainer
    - similar enpoints
    - correlations

    - ASSOC TABLE: in its own Vue.js component file
    - DRUG STATS TABLE: in its own Vue.js component file
*/

/* -- Sections -- put "Endpoint explainer" and "Similar endpoints" side by side */
@media (min-width: 650px) {
    .endpoint-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
    }
}

/* -- Sections -- Summary stats grid */
@media (min-width: 650px) {
    .stats-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .stats-grid > .left-right-heading {
        grid-area: 1 / 1 / 3 / 3;  /* 1st line, span 2 cols */
    }

    .year-distrib {
        /* Span 2 rows in a single column */
        grid-area: 4 / 2 / 6 / 2;
    }

    .narrow_screen_info {
        display: none;
    }
}

/* --Sections -- Summary stats -- project specific sections */
.sumstats {
    margin-bottom: 3em;
}

/* -- Sections -- Summary stats -- Histogram plots */
.hist-plot rect {
    cursor: help;
}

.hist-plot .tooltip {
    position: absolute;
    pointer-events: none;
    @apply p-2;
    @apply bg-black;
    @apply text-white;
    @apply rounded;
}

/* -- Sections -- Surv Analysis -- Plot */
.surv-plot {
    display: none;
}

@media (min-width: 650px) {
    .surv-plot {
        display: block;
    }
}

.legend {
    @apply bg-grey-lightest;
    display: inline-block;
    margin: auto;
    @apply px-3;
    @apply py-1;
    @apply mb-1;
    text-align: initial;  /* text-align: center; of parent element centers the legend "inline-block" */
}

/* TABLES */

/* -- horizontal */
table.horizontal thead {
    @apply bg-grey-lightest;
    @apply border-t;
    @apply border-b;
}

table.horizontal th {
    font-weight: normal;
}

table.horizontal tbody tr:nth-child(2n) {
    @apply bg-grey-lightest;
}



.th-pl-6 {
    @apply pl-6;
}

.table-padding tbody th {
    @apply p-3;
}

.table-padding td {
    @apply pt-3;
    @apply pb-3;
    @apply pr-3;
    @apply pl-6;
}

/* indent other than header content in table headers. (:not(h4) is not used because it might have unexpected behaviour) */
.table-padding th > p,
.table-padding th > div {
    @apply pl-5;
}

/* COMPONENT: INPUT TEXT */
input[type=text] {
    @apply border;
}

/* COMPONENT: RADIO TOGGLE */
input[type=radio] {
    display: none;
}

input[type=radio]+label {
    @apply bg-white;
}

input[type=radio]+label:hover {
    @apply bg-grey-lighter;
}

input[type=radio]+label:active {
    @apply bg-grey-light;
}

input[type=radio]:checked+label {
    @apply text-white;
    @apply bg-blue-dark;
}

.radio-left {
    @apply rounded-l
}

.radio-right {
    @apply rounded-r
}

.radio-left, .radio-right {
    @apply border;
    @apply border-black;
    @apply p-1;
    @apply text-sm;
    background-color: #fafafa;
}

/* COMPONENT: MODAL DIALOG */
.hidden {
    display: none;
}

.dialog-open {
    overflow: hidden;
}

.dialog-label {
    text-align: center;
}

.dialog-backdrop {
    /* Cover full viewport */
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;

    /* Put on top of all, otherwise Vue.js elements get mixed up with the modal dialog */
    z-index: 2;

    background: rgba(0, 0, 0, 0.25);
}

.dialog-header {
    /* Show the close button to the top right of the dialog */
    display: grid;
    grid-template-columns: auto fit-content(8ch);
}

[role=dialog] {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1rem;
    width: 100vw;
    height: 100vh;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

[role=dialog] > h2 {
    margin-bottom: 1rem;
}

[role=dialog] > article {
    overflow-y: scroll;
    max-height: 90%;
}

[role=dialog] > .bottom {
    position: fixed;
    bottom: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media (min-width: 650px) {
    [role=dialog] {
        width: initial;
        height: initial;
        max-height: 90vh;

        max-width: 100ch;
        margin: auto;
        margin-top: 3rem;
    }

    [role=dialog] > article {
        max-height: 80vh;
    }

    [role=dialog] > .bottom {
        position: initial;
        bottom: initial;
        margin-bottom: initial;
    }
}
