/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */


/**
 * HOME / SEARCH PAGE
 */
.inshadow {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}
.inshadow:focus {
    box-shadow: none;
}
.outshadow:focus-within {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}


#home-examples {
    @apply mt-10;
}
#home-examples, #home-examples ul li {
    @apply text-lg;
    @apply leading-normal;
}

.results {
    @apply p-2;
}
.results .category-name {
    @apply uppercase;
    @apply bg-grey-lighter;
    @apply py-2;
}
.results .category:nth-child(n + 2) .category-name {
    @apply mt-4;
}
.results .item {
    @apply py-2;
    display: grid;
    grid-template-columns: 250px auto;
}
.results .item > span:nth-child(1) {
    @apply pr-2;
    overflow-wrap: anywhere;
}
.results .item.selected {
    @apply bg-grey-light;
}

a {
    @apply no-underline;
    @apply border-b-2;
}
a:link {
    @apply text-blue-darker;
}
a:visited {
    color: #662186;
}
a:hover {
    @apply text-blue-dark;
    @apply border-blue-dark;
}
a:focus {
    @apply bg-blue-dark;
    @apply text-grey-lightest;
    @apply border-none;
    outline: 3px solid #2779BD;
}

.highlight {
    @apply bg-yellow-lighter;
}


/**
 * PHENOCODE PAGE
 */
header {
    height: 4rem;
}
header .actions a {
    @apply ml-6;
}
header a, header a:link, header a:visited {
    @apply text-white;
    @apply border-none;
}
header a:hover {
    @apply border-solid;
    @apply border-white;
    @apply border-b;
}
header h1 a:hover {
    @apply border-b-4;
}
header a:focus {
    @apply border-none;
    outline: 16px solid #2779BD;
}


main {
    background-color: white;
}
main p {
    @apply mb-2;
}
main section > h2 {
    @apply text-2xl;
}
main section > h3 {
    @apply text-xl;
}
main section:not(:last-child) {
    @apply mb-4;
}
.content > section:not(:first-child) {
    @apply border-t-2;
}
.content > section  {
    @apply p-4;
}

.phenocode-title .actions span {
    @apply ml-4;
}


summary {
    cursor: pointer;
}

/* infobox styling on abbrv */
abbr {
    position: relative;
    cursor: help;
    @apply border-dotted;
    @apply border-black;
    @apply border-0;
    @apply border-b;
}
abbr:hover::after {
    content: attr(data-title);
    position: absolute;
    top: 100%;
    display: block;
    @apply bg-black;
    @apply text-grey-lightest;
    z-index: 1;
    @apply p-1;
    @apply rounded;
    @apply lowercase;
    max-width: 500px;
}

tr:nth-child(odd) {
    @apply bg-grey-lightest;
}
td {
    @apply py-1;
    @apply px-4;
}
.key-figures td:nth-child(n + 2) {
    text-align: right;
}
.key-figures tr:nth-child(n + 2) td:nth-child(n + 2){
    font-variant-numeric: tabular-nums;
}
.key-figures tr:nth-child(1) {
    @apply italic;
    @apply border-t;
    @apply border-b;
}

.tables {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: column;
}
.tables .left {
    grid-column: 1 / 2;
}
.tables .right {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    @apply bg-grey-lightest;
}

.filters .title {
    @apply mr-4;
}
.filter {
    @apply mt-8;
}


.plots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#events_by_year {
    cursor: pointer;
}
.plots rect {
    cursor: help;
}
.plots .tooltip {
    position: absolute;
    pointer-events: none;
    @apply p-2;
    @apply bg-black;
    @apply text-white;
    @apply rounded;
}
.plots .cumulative {
    @apply cursor-pointer;
}

table.changelogs td:nth-child(n + 2) {
    @apply font-mono;
}



footer {
    min-height: 10rem;
}
footer a,  footer a:link, footer a:visited {
    @apply border-grey;
}
footer a:hover {
    @apply border-blue-darker;
}

footer p {
    @apply mb-4;
}

/**
 * LOGIN PAGE
 */
a.login-button {
    @apply text-white;
    @apply text-xl;
    @apply mt-16;
    @apply p-4;
    @apply rounded-lg;
    background-color: #2779BD;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
