/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

@import "endpoint_explainer";
@import "similar_endpoints";
@import "correlations";


 /**
  * COMMON
  */
abbr[data-title] {
    position: relative;
    text-decoration: underline dotted;
    cursor: help;
}
abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
    content: attr(data-title);

    position: absolute;
    left: 0rem;
    bottom: -3.5rem;
    width: auto;
    white-space: nowrap;
    padding: 0.6rem;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 0.9rem;
    font-weight: normal;
    border-radius: 3px;
}
abbr > a {
    /* remove solid underline so we can see the dotted underline of <abbr> */
    text-decoration: none;
}


/* WARNING */
.warning {
    display: grid;
    grid-template-columns: 46px auto;
    align-items: center;
    justify-items: center;
    @apply bg-grey-lightest;
    @apply rounded-lg;
}

.warning > img {
    height: 32px;
    width: 32px;
}


/**
 * HOME / SEARCH PAGE
 */

a:link {
    @apply text-blue-darker;
}
a:visited {
    color: #662186;
}
a:hover {
    @apply text-blue-dark;
}
a:focus {
    @apply bg-blue-dark;
    @apply text-grey-lightest;
    @apply no-underline;
    outline: 3px solid #2779BD;
}

.highlight {
    @apply bg-yellow-lighter;
}

.subtle-shadow {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);  /* Subtle shadow for every block of the main content */
}

.card {
    @apply bg-white;
    @apply p-2;
    @apply rounded;
    @apply border-2;
    @apply subtle-shadow;
}

.card h3, .card h4 {
    text-transform: uppercase;
    @apply text-blue-darker;
    font-weight: bold;
    @apply mb-2;
}
.card h3 {
    @apply text-lg;
}
.card h4 {
    font-size: 0.9rem;
}

.card ul {
    @apply pl-4;
}

.demophenos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    align-items: start;
}
.demophenos li {
    @apply my-1;
}

@media (min-width: 650px) {
    .demophenos {
        grid-template-columns: none;
        grid-template-areas:
            "a e i"
            "b f i"
            "c g i"
            "d h i"
    }
    .demophenos .item-a {
        grid-area: a;
    }
    .demophenos .item-b {
        grid-area: b;
    }
    .demophenos .item-c {
        grid-area: c;
    }
    .demophenos .item-d {
        grid-area: d;
    }
    .demophenos .item-e {
        grid-area: e;
    }
    .demophenos .item-f {
        grid-area: f;
    }
    .demophenos .item-g{
        grid-area: g;
    }
    .demophenos .item-h {
        grid-area: h;
    }
    .demophenos .item-i {
        grid-area: i;
    }
}


/**
 * HEADER
 */

.header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.header > * {
    margin-left: 0.25rem;
}

.header > .actions {
    display: none;  /* Will be displayed in the navigation widget instead */
}


@media (min-width: 650px) {

    /* FRONT PAGE */
    .header.frontpage {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    .header.frontpage h1 {
        @apply mt-8;
    }
    .header.frontpage h2 {
        @apply mb-6;
    }

    /* OTHER PAGES (Phenocode page, Methods, etc.) */
    .header {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: unset;
        align-items: unset;
    }

    .header > * {
        margin-left: 0;
    }

    .header .actions {
        display: unset;
        text-align: right;
        align-self: center;
    }
}


header h1 {
    margin-bottom: 0.35rem;
}

header .actions a {
    @apply ml-6;
}

/* subnav*/

.subnav {
    @apply ml-2;
    position: relative;
}

.subnav-content {
    display: none;
}

.subnav:hover .subnav-content {
    display: block;
}

.subnav:hover a {
    @apply text-white; /* text remains white when hovered over*/
}

.subnav-content ul {
    list-style: none; /* no bullet points to list items*/
}

.subnav-content a {
    color: white;
    text-decoration: none; /* no underline before hovering over*/
  }

.subnav-content ul li a:hover {
    @apply underline
}

.frontpage .subnav {
    margin-left: 1.5rem;
}
.frontpage .subnav-content {
    padding-top: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

/* Apply the same styling of links for navigation and project name (white-link-no-underline class).*/
.header > h1 > a, .header > .actions > a,
.header > h1 > a:link, .header > .actions > a:link,
.header > h1 > a:visited, .header > .actions > a:visited, 
.white-link-no-underline > a  {
    @apply text-white;
    @apply no-underline;
}
.header > h1 > a:hover, .header > .actions > a:hover, 
.white-link-no-underline > a:hover {
    @apply border-solid;
    @apply border-white;
    @apply border-b;
}
.header > h1 > a:hover {
    @apply border-b-4;
}
.header > h1 > a:focus, .header > .actions > a:focus {
    @apply border-none;
    outline: 12px solid #2779BD;
}

/* project intro texts .*/
.white-link > a  {
    @apply text-white;
}

/**
 * PHENOCODE PAGE
 */

/* VERSION SELECTOR */
#R-nav {
    @apply ml-0; /* overwriting "header .actions a {@apply ml-6;}" to have "R-" closer to "Risteys" -> more on left -> subnav right below R-"*/
    list-style: none; /* remove arrow */
}

/* to remove arrow, this is used because Chromium-based browsers do not support list-style on the summary element */
.subnav summary::-webkit-details-marker {display: none; }

/* add own icon */

.subnav details > summary {
    outline: none; /* remove border */
    cursor: pointer;
}

.subnav details summary::after {
    content: "▸";
    position: relative;
    left: -5px;
    bottom: -1px;
}
.subnav details[open] summary::after {
    content:"▾";
}

#R-subnav {
   font-size: 15px;
   position:absolute; /* together with #details-R-nav position makes submenu not to change alingment of elements in the heading */
   @apply bg-blue-darker;
   z-index: 30;  /* appear on top of the search field in narrow view */
   @apply pl-0; /* remove left-pagging */
   padding-right: 30px; /* right-padding to make menu box as wide as "R-▸" */
}

#R-subnav li a {
    margin-left: 0rem; /* to over write header .actions a {margin-left: 1.5rem; } */
}

#details-R-nav {
    position:relative; /* together with #-R-subnav position makes submenu not to change alingment of elements in the heading */
    display:inline;  /*makes <details> tag to behave as an inline element -> 'R-' remains usually next to 'Risteys'*/
}

#link-home {
    white-space: nowrap; /* no wrapping text (inline elements?) -> keeps 'R-' next to 'Risteys' */
}

/* SEARCH BOX */
.header .searchbox {
    justify-self: center; /* horizontal centering */
    align-self: center; /* vertical centering */
}
.header div[role="combobox"] {
    display: inline-block;
}
.header div[role="combobox"] input {
    width: 20em;

    /* be above the #search-results shadow */
    position: relative;
}
.header div[role="combobox"] #search-results {
    position: absolute;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    z-index: 1;  /* put above page elements, other gets mixed up with page text */
}




/* CONTENT */
/* -- global */
.fluid-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.bgcream {
    background-color: hsl(50, 40%, 97%);
}

p, li {
    line-height: 1.5;
}

main article.box > ul, main article.box > ol {
    @apply pl-8;
}

/* Faded button */
.button-faded {
    @apply text-sm;
    @apply p-2;
    @apply border;
    @apply border-black;
    @apply rounded;
    background-color: #fafafa;
}
.button-faded:hover {
    @apply text-white;
    @apply bg-blue-dark;
}
.button-faded:active {
    @apply bg-blue-darker;
}
a.button-faded {
    @apply text-black;
    @apply no-underline;
}

/* Split heading [ left       |   right ] */
.left-right-heading {
    display: grid;
    grid-template-columns: auto auto;
    @apply bg-grey-lightest;
}
.left-right-heading > a {
    display: block;
    text-align: right;
    text-decoration: none;
    @apply text-2xl;
}


/* Attention-catcher button */
.button-out, a.button-out {
    @apply p-1;
    @apply px-2;
    @apply bg-green-dark;
    @apply text-white;
    @apply rounded;
    @apply font-bold;
    @apply no-underline;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* keep PheWeb button blue */
a.button-out{
    @apply bg-blue-dark; 
}

/* -- Nav */
nav.wide {
    display: none;
}

/* Using a CSS id for the element to be easily gettable with JS */
#toggle-nav-menu {
    margin-right: 1.5rem;
}

#nav-narrow {
    display: none;  /* Hidden by default, is visible after user click */

    margin-left: auto;
    margin-right: auto;

    color: black;

    @apply bg-white;
    @apply border;
    @apply rounded-lg;
    @apply mb-2;
}

#nav-narrow > * {
    @apply py-1;
    @apply px-2;
}

#nav-narrow > p > * {
    @apply p-1;
    @apply m-1;
}

#nav-narrow .section-title {
    text-transform: uppercase;
    @apply text-blue-darker;
    font-weight: bold;
}

/* subnav*/
#subnav-narrow * {
    @apply p-1;
    @apply m-1;
}

#subnav-narrow a {
    @apply p-6;
}

@media (min-width: 650px) {
    nav.wide {
        display: block;
        width: 1200px;
        margin: auto;
        margin-bottom: 2rem;
    }
    nav.wide a {
        margin-left: 1rem;
    }

    #toggle-nav-menu {
        display: none;
    }

}

/* -- Title block */
main .title {
    display: grid;
    grid-template-columns: 1fr;
    @apply bg-grey-lighter;
    @apply border;
}

@media (min-width: 650px) {
    main .title {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
    }
    main .title .description {
        grid-area: 3 / 1 / 4 / 3;  /* put on 3nd line, span 2 columns */
    }
}

main .title > * {
    @apply p-2;
}


/* -- Title -- description */
main .title .description {
    background-color: white;
}

/* -- Title -- endpoint long name */
main .title > h1 {
    @apply text-3xl;
}
/* -- Title -- external links */
main .title .links {
    justify-self: unset;
    align-self: center;
}
@media (min-width: 650px) {
    main .title .links {
        justify-self: right;
    }
}

main .title .links a {
    @apply mr-2;
}

/* -- Sections */
main .box{
    @apply border;
    @apply mb-8;
    @apply mt-4;
    @apply subtle-shadow;
}

main article.box {
    background-color: white;
}

main article.box h2 {
    @apply bg-grey-lightest;
}

main article.box h3 {
    @apply mb-2;
}

main article.box > * {
    @apply p-2;
}

/* -- Sections */

/* -- Sections -- put "Endpoint explainer" and "Similar endpoints" side by side */
@media (min-width: 650px) {
    .endpoint-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
    }
}
/* -- Sections -- Endpoint explainer: in it's own CSS file */

/* -- Sections -- Similar endpoints */


/* -- Sections -- Summary stats grid */
@media (min-width: 650px) {
    .stats-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .stats-grid > .left-right-heading {
        grid-area: 1 / 1 / 3 / 3;  /* 1st line, span 2 cols */
    }

    .year-distrib {
        /* Span 2 rows in a single column */
        grid-area: 4 / 2 / 6 / 2;
    }
}


/* -- Sections -- Summary stats -- Histogram plots */
.hist-plot rect {
    cursor: help;
}
.hist-plot .tooltip {
    position: absolute;
    pointer-events: none;
    @apply p-2;
    @apply bg-black;
    @apply text-white;
    @apply rounded;
}

@media (min-width: 650px) {
    #plot_bin_by_age > svg {
        margin-top: 1.5rem
    }
}


/* -- Sections -- Surv Analysis -- Plot */
.surv-plot {
    display: none;
}
@media (min-width: 650px) {
    .surv-plot {
        display: block;
    }
}

#block-legend {
    text-align: center;  /* Centers the legend "inline-block" */
}

#block-legend .legend {
    @apply bg-grey-lightest;
    display: inline-block;
    margin: auto;
    @apply px-3;
    @apply py-1;
    @apply mb-1;
    text-align: initial;
}


/* TABLES */
/* -- global */
th, [role="columnheader"] {
    text-align: left;

}
td, [role="cell"] {
    font-variant-numeric: tabular-nums;
}
th, td, [role="cell"], [role="columnheader"] {
    @apply p-1;
    @apply px-3;
}

/* -- horizontal */
table.horizontal thead {
    @apply bg-grey-lightest;
    @apply border-t;
    @apply border-b;
}
table.horizontal th {
    font-weight: normal;
}
table.horizontal tbody tr:nth-child(2n) {
    @apply bg-grey-lightest;
}

/* -- vertical */
table.vertical tbody tr:nth-child(2n + 1) {
    @apply bg-grey-lightest;
}




/* ASSOC TABLE: in its own Vue.js component file */

/* DRUG STATS TABLE: in its own Vue.js component file */



/* -- Footer */
footer {
    min-height: 10rem;
}
footer a,  footer a:link, footer a:visited {
    @apply border-grey;
}
footer a:hover {
    @apply border-blue-darker;
}

footer p {
    @apply mb-4;
}
footer p:last-child {
    margin-bottom: 0;
}


/**
 * LOGIN PAGE
 */
a.login-button {
    @apply text-white;
    @apply text-xl;
    @apply mt-16;
    @apply p-4;
    @apply rounded-lg;
    background-color: #2779BD;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

/**
* DOCUMENTATION PAGE
*/

.documentation .box {
    margin-top: 40px;
}

.documentation h2 {
    margin-bottom: 20px;
}

.documentation h3 {
    margin-top: 15px;
}

/**
* CHANGELOG PAGE
*/
.changelogs tbody td:nth-child(n + 2) {
    text-align: left;
}
table.changelogs td:nth-child(n + 2) {
    @apply font-mono;
}



/*
 * COMPONENT: GRID - 1 column
 */
.grid-1col {
    display: grid;
    grid-template-columns: 1fr
}


/*
 * COMPONENT: INPUT TEXT
 */
input[type=text] {
    @apply border;
}


/*
 * COMPONENT: RADIO TOGGLE
 */
input[type=radio] {
    display: none;
}
input[type=radio]+label {
    @apply bg-white;
}
input[type=radio]+label:hover {
    @apply bg-grey-lighter;
}
input[type=radio]+label:active {
    @apply bg-grey-light;
}
input[type=radio]:checked+label {
    @apply text-white;
    @apply bg-blue-dark;
}
.radio-left {
    @apply rounded-l
}
.radio-right {
    @apply rounded-r
}
.radio-left, .radio-right {
    @apply border;
    @apply border-black;
    @apply p-1;
    @apply text-sm;
    background-color: #fafafa;
}


/*
 * COMPONENT: MODAL DIALOG
 */
.hidden {
    display: none;
}

.dialog-open {
    overflow: hidden;
}

.dialog-label {
    text-align: center;
}

.dialog-backdrop {
    /* Cover full viewport */
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;

    /* Put on top of all, otherwise Vue.js elements get mixed up with the modal dialog */
    z-index: 2;

    background: rgba(0, 0, 0, 0.25);
}

[role=dialog] {
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1rem;
    width: 100vw;
    height: 100vh;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

[role=dialog] h2 {
    margin-bottom: 1rem;
}

[role=dialog] article {
    overflow-y: scroll;
    max-height: 90%;
}

[role=dialog] .bottom {
    position: fixed;
    bottom: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media (min-width: 650px) {
    [role=dialog] {
        width: initial;
        height: initial;
        max-height: 90vh;

        max-width: 100ch;
        margin: auto;
        margin-top: 3rem;
    }

    [role=dialog] article {
        max-height: 80vh;
    }

    [role=dialog] .bottom {
        position: initial;
        bottom: initial;
        margin-bottom: initial;
    }
}
