<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix="Risteys · ">
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link rel="apple-touch-icon" href={~p"/images/apple-touch-icon.png"}/>
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/images/favicon-32x32.png"}/>
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/images/favicon-16x16.png"}/>
    <link phx-track-static rel="stylesheet" href={~p"/css/legacy.css"}/>
    <link phx-track-static rel="stylesheet" href={~p"/css/reset.css"}/>
    <link phx-track-static rel="stylesheet" href={~p"/css/var.css"}/>
    <link phx-track-static rel="stylesheet" href={~p"/css/fonts.css"}/>
    <link phx-track-static rel="stylesheet" href={~p"/css/app.css"}/>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="font-sans bg-grey-light">
    <%= @inner_content %>
  </body>
</html>
