<div id="interactive_stats">
<table>
    <tbody>
        <tr v-for="row in stats">
            <td v-for="datum in row">{{ datum }}</td>
        </tr>
    </tbody>
</table>
</div>

        <h1><%= @title %> (<%= @category %>)</h1>

        <div class="grid23">        
            <section>
                <h2 style="display: none">Description</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <h3>Data source</h3>
                <p>
                    <a href="http://results.finngen.fi/about">Finngen Freeze 2</a>: <span class="font-mono"><%= @code %></span>
                </p>

                <h3>Key figures</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Prevalence</td>
                            <td class="font-mono"><%= prevalence(@num_cases, @num_controls) %></td>
                        </tr>
                        <tr>
                            <td>Age at first diagnosis (mean)</td>
                            <td class="font-mono">34</td>
                        </tr>
                        <tr>
                            <td>Blah</td>
                            <td class="font-mono">0.12</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <section>
            <h2>Descriptive statistics</h2>
            <div class="grid23">
                <div>           
                    <table class="table">
                        <caption>Statistics <a href="#">broken down by age</a> for
                            <select>
                                <option>both</option>
                                <option>males</option>
                                <option>females</option>
                            </select>
                        .</caption>
                        <tbody>
                            <tr>
                                <th>Age bracket</th>
                                <th>0-20</th>
                                <th>20-40</th>
                                <th>40-60</th>
                                <th>60+</th>
                            </tr>
                            <tr>
                                <td>Prevalence (%)</td>
                                <td>1.123</td>
                                <td>2.199</td>
                                <td>0.353</td>
                                <td>4.120</td>
                            </tr>
                            <tr>
                                <td>Incidence (number of events)</td>
                                <td>3.183</td>
                                <td>1.169</td>
                                <td>2.323</td>
                                <td>0.150</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <aside>
                    <form>
                        <section>
                            <h2>Breakdown</h2>
                            <div><label><input type="radio" name="breakdown" value="sex"> by sex</label></div>
                            <div><label><input type="radio" name="breakdown" value="age" checked> by age</label></div>
                            <div><label><input type="radio" name="breakdown" value="none"> none</label></div>
                        </section>

                        <section>
                            <h2>Filters</h2>

                            <h3>Sex</h3>
                            <div><label><input type="radio" name="filter-sex" value="both"> both</label></div>
                            <div><label><input type="radio" name="filter-sex" value="female"> only female</label></div>
                            <div><label><input type="radio" name="filter-sex" value="male" checked> only male</label></div>

                            <h3>Age</h3>
                            <div><label><input type="checkbox" name="filter-age-all" disabled> all age brackets</label></div>
                            <div><label><input type="checkbox" name="filter-age-0-20" disabled> 0-20</label></div>
                            <div><label><input type="checkbox" name="filter-age-20-40" disabled> 20-40</label></div>
                            <div><label><input type="checkbox" name="filter-age-40-60" disabled> 40-60</label></div>
                            <div><label><input type="checkbox" name="filter-age-60p" disabled> 60+</label></div>
                        </section>
                    </form>
                </aside>
            </div>
        </section>

        <section>
            <h2>Linked resources</h2>

<div class="card-grid">         
            <section>
                <h2>Comorbidities on Risteys</h2>
                <ul>
                    <li><a href="/endpoint/CD2_BENIGN_MEDIASTINUM">Benign neoplasm: Mediastinum</a></li>
                    <li><a href="/endpoint/CD2_BENIGN_HEART">Benign neoplasm: Heart</a></li>
                    <li><a href="/endpoint/CD2_BENIGN_THYMUS">Benign neoplasm: Thymus</a></li>
                    <li><a href="/endpoint/CD2_BENIGN_THYMUS">Some random thing</a></li>
                    <li><a href="/endpoint/CD2_BENIGN_THYMUS">Another random thingy</a></li>
                    <li><a href="/endpoint/CD2_BENIGN_THYMUS">Thingy thingy</a></li>
                </ul>
            </section>

            <section>
                <h2>Genes on gnomAD</h2>
                <ul>
                    <li><a href="http://gnomad.broadinstitute.org/gene/EXAMPL0">EXAMPL0</a></li>
                    <li><a href="http://gnomad.broadinstitute.org/gene/EXAMPL1">EXAMPL1</a></li>
                </ul>
            </section>

            <section>
                <h2>Genes on USCS Genome Browser</h2>
                <ul>
                    <li><a href="https://genome.ucsc.edu/">EXAMPL0</a></li>
                    <li><a href="https://genome.ucsc.edu/">EXAMPL1</a></li>
                </ul>
            </section>

            <section>
                <h2>Genes on OMIM</h2>
                <ul>
                    <li><a href="https://omim.org/entry/0">EXAMPL0</a></li>
                    <li><a href="https://omim.org/entry/0">EXAMPL1</a></li>
                </ul>
            </section>

            <section>
                <h2>Genes on GeneCards</h2>
                <ul>
                    <li><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=EXAMPL0">EXAMPL0</a></li>
                    <li><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=EXAMPL1">EXAMPL1</a></li>
                </ul>
            </section>
</div>


        </section>
