/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

* {
	@apply font-sans;
	@apply leading-normal;
	@apply text-black;
}


.grid {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}



@screen lg {
	.grid23 {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}	
} 

.grid-right {
	justify-self: end;
}

.header {
	padding: 3rem 1.5rem;
}

.search input {
	@apply p-2;
	@apply shadow-inner;
	@apply rounded-l;
	@apply border;
	@apply border-t-2 border-b-2 border-l-2 border-r-0;
	@apply border-grey;
}
.search input:focus {
	@apply border-blue-dark;
}
.search button {
	@apply text-white;
	@apply bg-blue-dark;
	@apply rounded-r;
	@apply px-4;
}


.card-grid {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

.card-grid section:nth-child(1) {
	grid-row: 1 / span 2;
}