<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body class="text-grey-darkest">
    
<div class="container w-2/5">
  <div id="app">{% raw %}
    <h1 class="text-center text-5xl tracking-wide py-10">Risteys</h1>
    <form class="outshadow">
      <input type="text" v-on:keyup="search" v-model="searchvalue" placeholder="search for disease, ICD code, phewas, endpoint, anything!"
	     class="inshadow text-xl font-mono p-3 w-full focus:mb-4"
	     autofocus="autofocus">
      <section v-for="cat in message" class="w-full results">
	<h2>{{ cat.title }}</h2>
	<section>
          <ul>
            <li v-for="item in cat.items" class="leading-normal"><a href="#" v-html="item"></a></li>
          </ul>
	</section>
      </section>
    </form>

    {% endraw %}</div>
</div>

<script>
var scheme = window.location.protocol == "https:" ? 'wss://' : 'ws://';
var webSocketUri =  scheme
                    + window.location.hostname
                    + (location.port ? ':'+location.port: '')
                    + '/ws';
</script>
<script src="/dist/main.js"></script>
  </body>
</html>
