<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Risteys</title>
</head>
<body>

	<header>
		<div class="container">
			<div class="grid header">
				<h1>Risteys</h1>
				<form role="search" class="grid-right search">
					<div class="flex">
						<input type="search"
						name="q"
						id="site-search"
						placeholder="disease, ICD code, endpoint, anything really!"
						aria-label="Search Risteys for disease, ICD code or anything"
						>
						<button>go</button>
					</div>
				</form>
			</div>
		</div>
	</header>

	<nav>
	</nav>

	<main class="container">
	  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
	  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>

<footer>
	<nav></nav>
</footer>

<script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
