<main class="fluid-container">
	<h1 class="title p-2">Changelog</h1>

	<article class="box">
		<h2 id="v2.0.0"><a href="#v2.0.0">§</a> v2.0.0 (2022-01-26)</h2>
		<article>
			<ul class="mt-4">
				<li>Create this development portal (beta version) of Risteys version 2, which is eventually about to combine results from both FinnGen and FinRegistry projects</li>
				<li>Use FinRegistry data for all phenotype analyses (currently Key figures, Age distribution, and Year distribution)</li>
				<ul>
					<li>Exclude endpoints with an omit value of 1 or 2 and endpoints that have a different definition than in FinnGen R8 </li>
				</ul>
				<li>An updated user interface to distinguish this portal from the original FinnGen Risteys portal</li>
				<ul>
					<li>Naming of the portal</li>
					<li>Reference to the FinRegistry project </li>
					<li>Own color scheme for FinRegistry specific sections</li>
					<li>Links to all versions of FinnGen Risteys portals</li>
				</ul>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2021-04-23</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>FinRegistry</td>
						<td>Detailed longitudinal</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>Endpoint definitions: FinnGen endpoints DF8 2021-06-21</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/new_risteys">v2.0.0 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.14.0"><a href="#v1.14.0">§</a> v1.14.0 (2021-11-30)</h2>
		<article>
			<ul class="mt-4">
				<li>Use R8 data for all phenotype analyses</li>
				<li>Add upset plots and detailed tables of case counts by code</li>
				<li>Show variant list when clicking on a coloc GWS hits in the correlation table (needs FinnGen authentication)</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2021-04-23</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Data Freeze 8v4 - QCed, first-event</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td>R8v4: survival analyses on endpoint pairs (226k) using endpoint priority list, with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>Endpoint definitions R8v4</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
					<tr>
						<td>Correlations</td>
						<td>Phenotype R8v4, Genotype R8v4</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.14.0">v1.14.0 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.13.0"><a href="#v1.13.0">§</a> v1.13.0 (2021-04-26)</h2>
		<article>
			<ul class="mt-4">
				<li>Use R7 data for all phenotype analyses</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2021-04-23</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Data Freeze 7v4 - QCed, first-event</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td>R7v4: all survival analyses of endpoint pairs (> 3.8 millions) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>Endpoint definitions R7v2</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
					<tr>
						<td>Correlations</td>
						<td>Phenotype R7v4, Genotype R6</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.13.0">v1.13.0 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.12.0" ><a href="#v1.12.0">§</a> v1.12.0 (2021-04-12)</h2>
		<article>
			<ul class="mt-4">
				<li>Add correlation table with phenotypic and genetic correlations across endpoints.</li>
				<li>Add <q>Similar endpoints</q> to navigate between FinnGen endpoints based on overlap of cases.</li>
				<li>Fix drug table disappearing on search in some special cases.</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2021-04-12</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Data Freeze 6 - QCed, first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td>v3-r6: all survival analyses of endpoint pairs (> 4.6 millions) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>finngen_R6_v2_endpoint_definitions</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
					<tr>
						<td>Correlations</td>
						<td>Phenotype R6v2, Genotype R6</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.12.0">v1.12.0 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.11.0" ><a href="#v1.11.0">§</a> v1.11.0 (2021-01-18)</h2>
		<article>
			<ul class="mt-4">
				<li>Add endpoint explainer table-diagram for the endpoint definition.</li>
				<li>Improve parsing of ICD-10 in enpoint definition.</li>
				<li>Add information on potential outpatient registry bump in 1998.</li>
				<li>Use binned hazard ratios for the distribution plots in the survival analysis table.</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2021-01-18</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Data Freeze 6 - QCed, first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td>v3-r6: all survival analyses of endpoint pairs (> 4.6 millions) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>finngen_R6_v2_endpoint_definitions</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.11.0">v1.11.0 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.10.0" ><a href="#v1.10.0">§</a> v1.10.0 (2020-10-14)</h2>
		<article>
			<ul class="mt-4">
				<li>FinnGen data freeze 6 dataset</li>
				<li>Mortality statistics</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2020-10-14</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td><u><i>Data Freeze 6</i></u> - QCed, first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td><u><i>v3-r6</i></u>: all survival analyses of endpoint pairs (> 4.6 millions) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td><u><i>finngen_R6_v2_endpoint_definitions</i></u></td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.10.0">v1.10.0 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.9.0" ><a href="#v1.9.0">§</a> v1.9.0 (2020-07-14)</h2>
		<article>
			<ul class="mt-4">
				<li>Responsive design to support mobile view.</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2020-04-28</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Data Freeze 5 - QCed, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td>v2-r5: all survival analyses of endpoint pairs (> 5 millions) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>finngen_R5_v2_endpoint_definitions</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.9.0">v1.9.0 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.8.3" ><a href="#v1.8.3">§</a> v1.8.3 (2020-06-30)</h2>
		<article>
			<ul class="mt-4">
				<li>Add <q>Download CSV</q> button for survival analyses and drug statistics tables.</li>
				<li>Misc. fixes in tables.</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2020-04-28</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Data Freeze 5 - QCed, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td>v2-r5: all survival analyses of endpoint pairs (> 5 millions) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>finngen_R5_v2_endpoint_definitions</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.8.3">v1.8.3 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.8.2" ><a href="#v1.8.2">§</a> v1.8.2 (2020-05-28)</h2>
		<article>
			<ul class="mt-4">
				<li>Add interactions to drug statistics table.</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2020-04-28</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Data Freeze 5 - QCed, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td>v2-r5: all survival analyses of endpoint pairs (> 5 millions) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>finngen_R5_v2_endpoint_definitions</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.8.2">v1.8.2 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.8.1" ><a href="#v1.8.1">§</a> v1.8.1 (2020-05-26)</h2>
		<article>
			<ul class="mt-4">
				<li>Add comparable box plots in survival analysis table.</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2020-04-28</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Data Freeze 5 - QCed, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td>v2-r5: all survival analyses of endpoint pairs (> 5 millions) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>finngen_R5_v2_endpoint_definitions</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.8.1">v1.8.1 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.8.0" ><a href="#v1.8.0">§</a> v1.8.0 (2020-04-28)</h2>
		<article>
			<ul class="mt-4">
				<li>Now using FinnGen <b>Data Freeze 5</b>.</li>
				<li>Renamed <q>association</q> to <q>survival analysis</q>.</li>
				<li>Add drug statistics.</li>
				<li>Survival analysis plot: allow toggling of Y axis (p or HR).</li>
				<li>Updated pipeline for DF5 and performance.</li>
			</ul>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2020-04-28</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td><u><i>Data Freeze 5</i></u> - QCed, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoint survival analyses</td>
						<td><u><i>v2-r5</i></u>: all survival analyses of endpoint pairs (> 5 millions) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td><u><i>finngen_R5_v2_endpoint_definitions</i></u></td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>all_matching_FG_DOID_MESH_excl.csv</td>
					</tr>
					<tr>
						<td>Heritability</td>
						<td><u><i>removed</i></u></td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.8.0">v1.8.0 on GitHub</a>.</p>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.7.1" ><a href="#v1.7.1">§</a> v1.7.1 (2020-01-22)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.7.1">v1.7.1 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2020-01-22</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 4 - QCed, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Risteys endpoint associations</td>
						<td>v2-r4: all associations of endpoint pairs (> 4.7 million associations) with lagged hazard ratios.</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>finngen_R4_endpoint_definition</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td><span class="underline">all_matching_FG_DOID_MESH_excl.csv</span></td>
					</tr>
					<tr>
						<td>Heritability</td>
						<td>h2_results</td>
					</tr>
				</tbody>
			</table>
			<ul class="mt-4">
				<li>Ontology: increase accuracy for MESH</li>
			</ul>
		</article>
		<article>
			<h3>Misc</h3>
			<ul>
				<li>Tables: replace <q>N/A</q> with <q>-</q> to improve readability.</li>
				<li>Data source: link ICD-10 codes to ICD-10 browser.</li>
				<li>Associations: show <q>&gt;&nbsp;100</q> when HR is &gt;&nbsp;100</li>
				<li>Associations: change styling of the plot to differentiate before / after associations as well as using more opaque colors.</li>
				<li>Help panes: make it clearer that the data is example data and not real data.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.7.0" ><a href="#v1.7.0">§</a> v1.7.0 (2019-12-19)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.7.0">v1.7.0 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-12-19</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 4 - QCed, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Risteys endpoint associations</td>
						<td><span class="underline">v2-r4: all associations of endpoint pairs (> 4.7 million associations) with lagged hazard ratios.</span></td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>finngen_R4_endpoint_definition</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.13.0" target="_blank" rel="noopener noreferrer external">2019-12-15 EFO 3.13.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td><span class="underline">R4_ontology_mapping</span></td>
					</tr>
					<tr>
						<td><span class="underline">Heritability</span></td>
						<td><span class="underline">h2_results</span></td>
					</tr>
				</tbody>
			</table>
			<ul class="mt-4">
				<li>Associations: QCed and computed <b>all associations</b> between pairs of FinnGen endpoints.</li>
				<li>Associations: added lagged hazard ratios.</li>
				<li>Ontology: improved matching of FinnGen endpoints to DOID, MeSH, etc.</li>
				<li>Heritability: added SNP-h<sup>2</sup> liability statistics for some endpoints.</li>
			</ul>
		</article>
		<article>
			<h3>Features</h3>
			<ul>
				<li>Associations: show a message that association data is being loaded.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.6.0" ><a href="#v1.6.0">§</a> v1.6.0 (2019-11-04)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.6.0">v1.6.0 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-11-04</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td><span class="underline">Release 4 - QCed</span>, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Risteys endpoint associations</td>
						<td><span class="underline">v1-r4</span> all demo endpoints (113k associations)</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td><span class="underline">finngen_R4_endpoint_definition</span></td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.7.0" target="_blank" rel="noopener noreferrer external">2019-06-17 EFO 3.7.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>endpoint_doid_exact_names_ag_stop_words_syno_250619</td>
					</tr>
				</tbody>
			</table>
			<ul class="mt-4">
				<li>Use FinnGen R4 data.</li>
				<li>Associations: filter out overlapping endpoints (by ICD or hierarchy) when computing statistics.</li>
				<li>Associations: remove sex covariate for sex-specific endpoints.</li>
			</ul>
		</article>
		<article>
			<h3>Features</h3>
			<ul>
				<li>Add a search bar on the endpoint pages.</li>
				<li>Use first-event data wherever it is more meaningful.</li>
				<li>Add help buttons in the statistics tables.</li>
				<li>Change the association table to be (hopefully) more readable.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.5.2" ><a href="#v1.5.2">§</a> v1.5.2 (2019-10-09)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.5.2">v1.5.2 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-10-09</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td><span class="underline">Release 3 - QCed</span>, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Risteys endpoint associations</td>
						<td>v1-r3 all demo endpoints (86k associations)</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>Endpoint_definitions_FINNGEN_ENDPOINTS_DF3_V1</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.7.0" target="_blank" rel="noopener noreferrer external">2019-06-17 EFO 3.7.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>endpoint_doid_exact_names_ag_stop_words_syno_250619</td>
					</tr>
				</tbody>
			</table>
			<ul class="mt-4">
				<li>Add a QC step to the pipeline.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.5.1" ><a href="#v1.5.1">§</a> v1.5.1 (2019-09-20)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.5.1">v1.5.1 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-09-20</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 3, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td><span class="underline">Risteys endpoint associations</span></td>
						<td><span class="underline">v1-r3 all demo endpoints (86k associations)</span></td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>Endpoint_definitions_FINNGEN_ENDPOINTS_DF3_V1</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.7.0" target="_blank" rel="noopener noreferrer external">2019-06-17 EFO 3.7.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>endpoint_doid_exact_names_ag_stop_words_syno_250619</td>
					</tr>
				</tbody>
			</table>
			<ul class="mt-4">
				<li>All the demo endpoint associations are now present.</li>
			</ul>
		</article>
		<article>
			<h3>Features</h3>
			<ul>
				<li>Show more information in the data source table.</li>
				<li>Clearly show which version of the data is used by displaying "R3" in the title.</li>
			</ul>
		</article>
		<article>
			<h3>Misc</h3>
			<ul>
				<li>Remove the medication table for now, as it needs further data processing and QC.</li>
				<li>Display <q>&lt;&nbsp;1e-100</q> for low p-values.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.5.0" ><a href="#v1.5.0">§</a> v1.5.0 (2019-09-05)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.5.0">v1.5.0 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-09-04</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 3, longitudinal + first-event, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Risteys endpoint associations</td>
						<td>v1b-r3 partial demo endpoints (83k associations)</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>Endpoint_definitions_FINNGEN_ENDPOINTS_DF3_V1</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.7.0" target="_blank" rel="noopener noreferrer external">2019-06-17 EFO 3.7.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>endpoint_doid_exact_names_ag_stop_words_syno_250619</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Summary</h3>
			<p>Add association data with plot and table.</p>
		</article>
		<article>
			<h3>Features</h3>
			<ul>
				<li>Add association plot.</li>
				<li>Add association table.</li>
				<li>Links to included endpoints in the data source information.</li>
			</ul>
		</article>
		<article>
			<h3>Fixes</h3>
			<ul>
				<li>Fix the histogram sizes to not overflow the page width.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.4.0" ><a href="#v1.4.0">§</a> v1.4.0 (2019-07-29)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.4.0">v1.4.0 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-07-29</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 3, longitudinal, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>Endpoint_definitions_FINNGEN_ENDPOINTS_DF3_V1</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.7.0" target="_blank" rel="noopener noreferrer external">2019-06-17 EFO 3.7.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>endpoint_doid_exact_names_ag_stop_words_syno_250619</td>
					</tr>
				</tbody>
			</table>
			<ul>
				<li>Use a 30 day time-window to merge events, more information on the <a href="/documentation#time-window">Documentation</a> page.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.3.0" ><a href="#v1.3.0">§</a> v1.3.0 (2019-07-08)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.3.0">v1.3.0 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-07-08</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 3, longitudinal, filtered to match PheWeb data</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>Endpoint_definitions_FINNGEN_ENDPOINTS_DF3_V1</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.7.0" target="_blank" rel="noopener noreferrer external">2019-06-17 EFO 3.7.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>endpoint_doid_exact_names_ag_stop_words_syno_250619</td>
					</tr>
				</tbody>
			</table>
			<ul>
				<li>Use the same data as PheWeb for consistency accross FinnGen web tools.</li>
				<li>Filter out comorbidities.</li>
			</ul>
		</article>
		<article>
			<h3>Features</h3>
			<ul>
				<li>Add demo endpoints on home page.</li>
				<li>More informative 404 page.</li>
			</ul>
			<h3>Fixes</h3>
			<ul>
				<li>Remove endpoints without any statistics.</li>
				<li>Year distribution plot is now always toggable.</li>
				<li>Age brackets are now 0—9, 10—19, etc. instead of 0—10, 11—20, etc.</li>
				<li>Minor styling changes.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.2.0" ><a href="#v1.2.0">§</a> v1.2.0 (2019-06-26)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.2.0">v1.2.0 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-06-26</span></h3>
			<p>Using a new pipeline to process and import the FinnGen data and ontology in Risteys.</p>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 3, longitudinal</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>Endpoint_definitions_FINNGEN_ENDPOINTS_DF3_V1</td>
					</tr>
					<tr>
						<td>Ontology EFO</td>
						<td><a href="https://github.com/EBISPOT/efo/releases/tag/v3.7.0" target="_blank" rel="noopener noreferrer external">2019-06-17 EFO 3.7.0</a></td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>endpoint_doid_exact_names_ag_stop_words_syno_250619</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Summary</h3>
			<p>FinnGen data on ontologies processed with a new pipeline. Usability changes thanks to user feedback.</p>
			<h3>Features</h3>
			<ul>
				<li>New pipeline to process FinnGen data and ontology: the new pipeline uses the longitudinal data from FinnGen, results should not be different than before.</li>
				<li>Add endpoint name on the page title: following a feedback from a Risteys user, added the endpoint name on the page as this is what leads users from the search box the endpoint page.</li>
				<li>Change statistics table layout: following a feedback from a Risteys user, metrics are now as rows and sex as columns, leading to more readable tables.</li>
				<li>Add a <q>toggle cumulative</q> button for the year distribution plot.</li>
				<li>Add link to GitHub repository in the page header.</li>
				<li>Add a <a href="/methods">Methods</a> page and a link to it in the page header.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.1.1" ><a href="#v1.1.1">§</a> v1.1.1 (2019-06-04)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.1.1">v1.1.1 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-05-10</span></h3>
			<p>No change in the data source since <a href="#v1.0.0">v1.0.0</a>.</p>
		</article>
		<article>
			<h3>Notes</h3>
			<p>Small styling changes.</p>
			<h3>Features</h3>
			<ul>
				<li>Make the PheWeb link more visible.</li>
				<li>Year-distribution plot: rework how bins with individual-level data (&lt;5 individuals) are handled. All the bins in the tails that have &lt;5 individuals are not shown. Bins with &lt;5 individuals inside the distribution are shown as if the value was 0 and the plot subtitle shows as <q>bins with &lt;5 individuals are not shown</q>.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.1.0" ><a href="#v1.1.0">§</a> v1.1.0 (2019-06-03)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.1.0">v1.1.0 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-05-10</span></h3>
			<p>No change in the data source since <a href="#v1.0.0">v1.0.0</a>.</p>
		</article>
		<article>
			<h3>Notes</h3>
			<p>Mostly polishing / styling changes.</p>
			<h3>Features</h3>
			<ul>
				<li>Endpoint plots: don't display the distribution tails if they have individual-level data (bins with individual-level data in the middle of the distribution are still shown as grey rectangles).</li>
				<li>Endpoint plots: angle the labels for the year distribution to improve readability.</li>
				<li>Improve page loading speed by minimizing and compressing assets.</li>
				<li>Search in the description of endpoints.</li>
				<li>Search by endpoint name.</li>
			</ul>

			<h3>Fixes</h3>
			<ul>
				<li>Return a 404 error page when an endpoint is not found.</li>
				<li>Minor display improvements on the search page and the endpoint page.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.0.1" ><a href="#v1.0.1">§</a> v1.0.1 (2019-05-23)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.0.1">v1.0.1 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-05-10</span></h3>
			<p>No change in the data source since <a href="#v1.0.0">v1.0.0</a>.</p>
		</article>
		<article>
			<h3>Notes</h3>
			<p>Bug fix release.</p>
			<h3>Fixes</h3>
			<ul>
				<li>Prevalence is now correct for all sex categories.</li>
			</ul>
		</article>
	</article>

	<article class="box">
		<h2 id="v1.0.0" ><a href="#v1.0.0">§</a> v1.0.0 (2019-05-14)</h2>
		<article>
			<h3>Source code</h3>
			<p>Check the code for Risteys portal and pipeline for <a href="https://github.com/dsgelab/risteys/tree/v1.0.0">v1.0.0 on GitHub</a>.</p>
		</article>
		<article>
			<h3>Data <span class="font-mono">v2019-05-10</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 3</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>DF3_FINAL_witdpw_2019-02-27</td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>2019-04-18</td>
					</tr>
					<tr>
						<td>Ontology XREFs</td>
						<td>2019-04-18</td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<h3>Notes</h3>
			<p>First release.</p>
			<h3>Features</h3>
			<ul>
				<li>search by endpoint name or ICD code</li>
				<li>get statistics for an endpoint: key figures, clinical metrics and distribution plots</li>
			</ul>
		</article>
	</article>
</main>
