<div class="phenocode-title bg-grey-lighter p-2 inline-flex w-full items-center">
	<h1 class="text-3xl flex-initial">Changelog</h1>
</div>
<div class="leading-normal content">
	<section>
		<h2 id="v1.0.1" ><a href="#v1.0.1">§</a> v1.0.1 (2019-05-23)</h2>
		<section>
			<h3>Data <span class="font-mono">v2019-05-10</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 3</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>DF3_FINAL_witdpw_2019-02-27</td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>2019-04-18</td>
					</tr>
					<tr>
						<td>Ontology XREFs</td>
						<td>2019-04-18</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h3>Notes</h3>
			<p>Bug fix release.</p>
			<h3>Fixes</h3>
			<ul>
				<li>Prevalence is now correct for all sex categories.</li>
			</ul>
		</section>
	</section>

	<section>
		<h2 id="v1.0.0" ><a href="#v1.0.0">§</a> v1.0.0 (2019-05-14)</h2>
		<section>
			<h3>Data <span class="font-mono">v2019-05-10</span></h3>
			<table class="changelogs">
				<tbody>
					<tr>
						<td>Finngen</td>
						<td>Release 3</td>
					</tr>
					<tr>
						<td>Endpoints</td>
						<td>DF3_FINAL_witdpw_2019-02-27</td>
					</tr>
					<tr>
						<td>Ontology DOID</td>
						<td>2019-04-18</td>
					</tr>
					<tr>
						<td>Ontology XREFs</td>
						<td>2019-04-18</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h3>Notes</h3>
			<p>First release.</p>
			<h3>Features</h3>
			<ul>
				<li>search by endpoint name or ICD code</li>
				<li>get statistics for an endpoint: key figures, clinical metrics and distribution plots</li>
			</ul>
		</section>
	</section>
</div>
