<main class="fluid-container lab-tests-index-page">
  <h1>Index of lab tests</h1>

  <article>
    <div role="grid">
      <div role="row">
        <div role="columnheader" class="header-lab-test">Name</div>
        <div role="columnheader" class="header-npeople">N people</div>
        <div role="columnheader" class="header-sex-ratio">Sex ratio (% female)</div>
        <div role="columnheader" class="header-percent-people-two-plus-records">
          People with &ge;2 records
        </div>
        <div role="columnheader" class="header-median-duration">
          Median duration from first to last measurement (years)
        </div>
      </div>

      <%= for %{lab_tests: lab_tests} = rec <- @lab_tests_tree_stats do %>
        <div role="rowgroup">
          <div role="row" class="loinc-component">
            <div role="rowheader" title={rec.loinc_component_concept_name}>
              <%= rec.loinc_component_concept_name %>
            </div>
          </div>

          <%= for lab_test <- Enum.map(lab_tests, &index_prettify_stats(&1, @lab_tests_overall_stats)) do %>
            <div role="row" class="lab-test">
              <div
                role="rowheader"
                class="col-lab-test-name"
                title={lab_test.lab_test_concept_name}
              >
                <a href={~p"/lab-tests/" <> lab_test.lab_test_concept_id}>
                  <%= lab_test.lab_test_concept_name %>
                  <span style="font-size: 0.75em;" class="font-mono">
                    (<%= lab_test.lab_test_concept_id %>)
                  </span>
                </a>
              </div>

              <div role="gridcell" class="col-npeople numeric"><%= lab_test.npeople_total %></div>

              <div role="gridcell" class="col-npeople-absolute plot">
                <%= lab_test.plot_npeople_absolute %>
              </div>

              <div role="gridcell" class="col-sex-ratio numeric">
                <%= lab_test.sex_female_percent %>
              </div>

              <div role="gridcell" class="col-sex-ratio-plot plot">
                <%= lab_test.plot_sex_female_percent %>
              </div>

              <div role="gridcell" class="col-people-two-plus-records numeric">
                <%= lab_test.percent_people_two_plus_records %>
              </div>

              <div role="gridcell" class="col-people-two-plus-records-plot plot">
                <%= lab_test.plot_percent_people_two_plus_records %>
              </div>

              <div role="gridcell" class="col-median-duration numeric">
                <%= lab_test.median_years_first_to_last_measurement %>
              </div>

              <div role="gridcell" class="col-median-duration-plot plot">
                <%= lab_test.plot_median_duration_first_to_last_measurement %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </article>
</main>
