<main class="lab-test-page">
  <h1 class="fluid-container"><%= @lab_test.name %></h1>

  <div class="highlight">
    <article class="fluid-container">
      <h2>Lab values</h2>

      <div class="highlight-content">
        <div style="width: 500px; height: 270px; background-color: #ccc">
          --PLOT main lab value dist.--
        </div>

        <dl>
          <dt>Number of people</dt>
          <dd><%= @lab_test.npeople_both_sex %></dd>

          <dt>Median number of measurements per person</dt>
          <dd><%= @lab_test.median_n_measurements %></dd>

          <dt>Median duration from first to last measurement (months)</dt>
          <dd><%= @lab_test.median_nmonths_first_to_last_measurement %></dd>
        </dl>
      </div>
    </article>
  </div>

  <div class="fluid-container">
    <article>
      <h2>Coding</h2>
    </article>

    <article>
      <h2>Cohort</h2>
    </article>

    <article>
      <h2>Statistics</h2>
    </article>
  </div>
</main>
