<nav class="fluid-container">
  <a href={~p"/lab-tests/"} style="text-decoration: none">
    ← <span style="text-decoration: underline">Index of lab tests</span>
  </a>
</nav>

<main class="lab-test-page">
  <h1 class="fluid-container"><%= @lab_test.name %></h1>

  <div class="highlight">
    <article class="fluid-container">
      <div class="highlight-content">
        <%= @lab_test.distribution_lab_values ||
          "No data available for the lab value distribution." %>

        <dl>
          <dt>Number of people</dt>
          <dd>
            <%= @lab_test.npeople_both_sex || ~H"&mdash;" %> (<%= @lab_test.sex_female_percent ||
              ~H"&mdash;" %>% female)
          </dd>

          <dt>People with &ge;2 records</dt>
          <dd><%= @lab_test.percent_people_two_plus_records || ~H"&mdash;" %>%</dd>

          <dt>Median duration from first to last measurement</dt>
          <dd><%= @lab_test.median_years_first_to_last_measurement || ~H"&mdash;" %> years</dd>
        </dl>
      </div>
    </article>
  </div>

  <div class="fluid-container">
    <article>
      <h2>Coding</h2>

      <article>
        <h3>Definition</h3>

        <dl>
          <dt>OMOP Concept ID</dt>
          <dd>
            <span class="font-mono"><%= @omop_concept_id %></span>&mdash; open in <%= @link_athena_lab_test %>.
          </dd>

          <dt>Part of collection</dt>
          <dd>
            <%= @parent_loinc_component.concept_name %> with <%= @n_other_in_collection %> other
            OMOP concept<%= if @n_other_in_collection < 2, do: "", else: "s" %> &mdash; open in <%= @link_athena_loinc_component %>.
          </dd>
        </dl>
      </article>

      <article>
        <h3>OMOP mapping QC</h3>

        <table>
          <thead>
            <tr>
              <th>OMOP concept ID</th>
              <th>Test name</th>
              <th>Measurement unit (harmonized unit)</th>
              <th>N&nbsp;people</th>
              <th>N&nbsp;records</th>
              <th>Missing measurement value</th>
              <th>Harmonized value distribution</th>
              <th class="header-test-outcome">
                <div>Test outcome</div>
                <div class="test-outcomes-legend">
                  <div class="test-outcome-value">
                    <div class="test-outcome-color color-na"></div>
                    <div><abbr title="Missing value">NA</abbr></div>
                  </div>
                  <div class="test-outcome-value">
                    <div class="test-outcome-color color-n"></div>
                    <div><abbr title="Normal">N</abbr></div>
                  </div>
                  <div class="test-outcome-value">
                    <div class="test-outcome-color color-a"></div>
                    <div><abbr title="Abnormal">A</abbr></div>
                  </div>
                  <div class="test-outcome-value">
                    <div class="test-outcome-color color-aa"></div>
                    <div><abbr title="Very abnormal">AA</abbr></div>
                  </div>
                  <div class="test-outcome-value">
                    <div class="test-outcome-color color-l"></div>
                    <div><abbr title="Low">L</abbr></div>
                  </div>
                  <div class="test-outcome-value">
                    <div class="test-outcome-color color-ll"></div>
                    <div><abbr title="Very low">LL</abbr></div>
                  </div>
                  <div class="test-outcome-value">
                    <div class="test-outcome-color color-h"></div>
                    <div><abbr title="High">H</abbr></div>
                  </div>
                  <div class="test-outcome-value">
                    <div class="test-outcome-color color-hh"></div>
                    <div><abbr title="Very high">HH</abbr></div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= for qc_row <- @lab_test.qc_table do %>
              <tr>
                <td><%= qc_row.omop_id %></td>
                <td><%= qc_row.test_name %></td>
                <td>
                  <%= qc_row.measurement_unit || ~H"&mdash;" %> (<%= qc_row.measurement_unit_harmonized ||
                    ~H"&mdash;" %>)
                </td>
                <td><%= qc_row.npeople %></td>
                <td><%= qc_row.nrecords %></td>
                <td><%= qc_row.percent_missing_measurement_value_formatted %>%</td>

                <td>
                  <%= if is_nil(qc_row.plot_harmonized_value_distribution) do %>
                    <span class="no-data">Distribution not available</span>
                  <% else %>
                    <%= qc_row.plot_harmonized_value_distribution %>
                  <% end %>
                </td>
                <td>
                  <%= if is_nil(qc_row.plot_test_outcome) do %>
                    <span class="no-data">Distribution not available</span>
                  <% else %>
                    <%= qc_row.plot_test_outcome %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </article>
    </article>

    <article>
      <h2>Cohort</h2>

      <dl>
        <dt>Number of people</dt>
        <dd>
          <%= @lab_test.npeople_both_sex || ~H"&mdash;" %> (<%= @lab_test.sex_female_percent ||
            ~H"&mdash;" %>% female)
        </dd>
      </dl>

      <article>
        <h3>Year of birth distribution</h3>
        <figure>
          <%= @lab_test.distribution_year_of_birth ||
            "No data available for the year of birth distribution." %>
        </figure>
      </article>

      <article>
        <h3>Age at first measurement</h3>
        <figure>
          <%= @lab_test.distribution_age_first_measurement ||
            "No data available for the age at first measurement distribution." %>
        </figure>
      </article>

      <article>
        <h3>Age at last measurement</h3>
        <figure>
          <%= @lab_test.distribution_age_last_measurement ||
            "No data available for the age at last measurement distribution." %>
        </figure>
      </article>

      <article>
        <h3>Age at start of registry</h3>
        <figure>
          <%= @lab_test.distribution_age_start_of_registry ||
            "No data available for the age at start of registry distribution." %>
        </figure>
      </article>

      <article>
        <h3>Duration from first to last measurement</h3>
        <figure>
          <%= @lab_test.distribution_nyears_first_to_last_measurement ||
            "No data available for the duration from to last measurement distribution." %>
        </figure>
      </article>
    </article>

    <article>
      <h2>Statistics</h2>

      <dl>
        <dt>People with &ge;2 records</dt>
        <dd><%= @lab_test.percent_people_two_plus_records || ~H"&mdash;" %>%</dd>

        <dt>Median number of measurements per person</dt>
        <dd><%= @lab_test.median_n_measurements || ~H"&mdash;" %></dd>

        <dt>Median duration from first to last measurement</dt>
        <dd>
          <%= case @lab_test.median_years_first_to_last_measurement do %>
            <% nil -> %>
              &mdash;
            <% value -> %>
              <%= value %> years
          <% end %>
        </dd>
      </dl>

      <article>
        <h3>Number of measurements over the years</h3>

        <figure>
          <%= @lab_test.distribution_n_measurements_over_years ||
            "No data available for the distribution of number of measurements over the years." %>
        </figure>
      </article>

      <article>
        <h3>Number of measurements per person</h3>

        <figure>
          <%= @lab_test.distribution_n_measurements_per_person ||
            "No data available for the distribution of number of measurements per person." %>
        </figure>
      </article>

      <article>
        <h3>Distribution of lab values</h3>

        <figure>
          <%= @lab_test.distribution_lab_values ||
            "No data available for the lab value distribution." %>
        </figure>
      </article>

      <article>
        <h3>Value range per person</h3>

        <figure>
          <%= @lab_test.distribution_value_range_per_person ||
            "No data available for the distribution of value range per person." %>
        </figure>
      </article>
    </article>
  </div>
</main>
