<nav class="fluid-container">
  <a href={~p"/lab-tests/"} style="text-decoration: none">
    ← <span style="text-decoration: underline">Index of lab tests</span>
  </a>
</nav>

<main class="lab-test-page">
  <h1 class="fluid-container"><%= @lab_test.name %></h1>

  <div class="highlight">
    <article class="fluid-container">
      <div class="highlight-content">
        <%= case @lab_test.distribution_lab_values do %>
          <% nil -> %>
            The lab value distribution is not available
          <% _ -> %>
            <%= @lab_test.distribution_lab_values %>
        <% end %>

        <dl>
          <dt>Number of people</dt>
          <dd><%= @lab_test.npeople_both_sex %> (<%= @lab_test.sex_female_percent %>% female)</dd>

          <dt>Median number of measurements per person</dt>
          <dd><%= @lab_test.median_n_measurements %></dd>

          <dt>Median duration from first to last measurement (years)</dt>
          <dd><%= @lab_test.median_years_first_to_last_measurement %></dd>
        </dl>
      </div>
    </article>
  </div>

  <div class="fluid-container">
    <article>
      <h2>Coding</h2>

      <article>
        <h3>Definition</h3>

        <dl>
          <dt>OMOP Concept ID</dt>
          <dd>
            <span class="font-mono"><%= @omop_concept_id %></span>&mdash; open in <%= @link_athena_lab_test %>.
          </dd>

          <dt>Part of collection</dt>
          <dd>
            <%= @parent_loinc_component.concept_name %> with <%= @n_other_in_collection %> other
            OMOP concept<%= if @n_other_in_collection < 2, do: "", else: "s" %> &mdash; open in <%= @link_athena_loinc_component %>.
          </dd>
        </dl>
      </article>
    </article>

    <article>
      <h2>Cohort</h2>

      <dl>
        <dt>Number of people</dt>
        <dd><%= @lab_test.npeople_both_sex %> (<%= @lab_test.sex_female_percent %>% female)</dd>
      </dl>

      <article>
        <h3>Year of birth distribution</h3>
        <figure>
          <%= @lab_test.distribution_year_of_birth %>
        </figure>
      </article>

      <article>
        <h3>Age at first measurement</h3>
        <figure>
          <%= @lab_test.distribution_age_first_measurement %>
        </figure>
      </article>

      <article>
        <h3>Age at last measurement</h3>
        <figure>
          <%= @lab_test.distribution_age_last_measurement %>
        </figure>
      </article>

      <article>
        <h3>Age at start of registry</h3>
        <figure>
          <%= @lab_test.distribution_age_start_of_registry %>
        </figure>
      </article>

      <article>
        <h3>Duration from first to last measurement</h3>
        <figure>
          <%= @lab_test.distribution_ndays_first_to_last_measurement %>
        </figure>
      </article>
    </article>

    <article>
      <h2>Statistics</h2>

      <dl>
        <dt>Median number of measurements per person</dt>
        <dd><%= @lab_test.median_n_measurements %></dd>

        <dt>Median duration from first to last measurement (years)</dt>
        <dd><%= @lab_test.median_years_first_to_last_measurement %></dd>
      </dl>

      <article>
        <h3>Number of measurements over the years</h3>

        <figure>
          <%= @lab_test.distribution_n_measurements_over_years %>
        </figure>
      </article>

      <article>
        <h3>Number of measurements per person</h3>

        <figure>
          <%= @lab_test.distribution_n_measurements_per_person %>
        </figure>
      </article>

      <article>
        <h3>Distribution of lab values</h3>

        <figure>
        <%= case @lab_test.distribution_lab_values do %>
          <% nil -> %>
            The lab value distribution is not available
          <% _ -> %>
            <%= @lab_test.distribution_lab_values %>
        <% end %>
        </figure>
      </article>

      <article>
        <h3>Value range per person</h3>

        <figure>
          <%= @lab_test.distribution_value_range_per_person %>
        </figure>
      </article>
    </article>
  </div>
</main>
