<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Risteys ◦ <%= @code %></title>
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>
<body class="font-sans bg-grey-light">

	<header class="bg-blue-darker text-white">
		<div class="container">
			<div class="grid header">
				<h1 class="text-4xl pt-2" id="link-home">
					<a
					   href="<%= Routes.static_path(@conn, "/") %>">Risteys</a>
				</h1>
<%# 				<form role="search" class="grid-right search">
					<div class="flex">
						<input type="search"
						name="q"
						id="site-search"
						placeholder="disease, ICD code, endpoint, anything really!"
						aria-label="Search Risteys for disease, ICD code or anything"
						>
						<button>go</button>
					</div>
				</form> %>
			</div>
		</div>
	</header>
	<div class="h-2 bg-blue-dark shadow-lg"></div>

	<nav>
	</nav>
<div class="bg-grey-lightest py-16">
	<%# allow the footer to look like it fills to the bottom of the page %>
	<main class="container border-grey-light border text-lg">
      <%= render @view_module, @view_template, assigns %>
    </main>
</div>
	<footer class="bg-grey-light text-lg border-t border-grey pt-8 leading-normal">
		<div class="container">
			<p>This is a demo, all data is fake.</p>
			<p>Risteys v0.1<br>
			Data v0000.00.00</p>
			<p>Made at <a href="https://www.fimm.fi/">FIMM</a> in Helsinki, Finland.</p>
			<nav></nav>
		</div>
	</footer>

	<script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
