<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Risteys FinnGen R5 - <%= @page_title %></title>
	<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>
<body class="font-sans bg-grey-light">

	<header class="bg-blue-darker text-white">
		<div class="container">
			<div class="header inline-flex items-end w-full pt-2">
				<h1 class="text-4xl flex-initial" id="link-home">
					<a href="<%= Routes.static_path(@conn, "/") %>">Risteys <span class="font-normal" style="font-size: 0.75em">R5</span></a>
				</h1>
				<div class="actions flex-grow text-right text-lg">
					<div id="pheno-searchbox"></div>
					<a href="/methods">Methods</a>
					<a href="/changelog">Changelog</a>
					<a href="https://github.com/dsgelab/risteys/" target="_blank" rel="noopener noreferrer external">GitHub</a>
					<a href="https://airtable.com/shrTzTwby7JhFEqi6" target="_blank" rel="noopener noreferrer external"><b>Contact &amp; Feedback</b></a>
				</div>
			</div>
		</div>
	</header>
	<div class="h-2 bg-blue-dark shadow-lg"></div>

	<nav>
	</nav>
<div class="bg-grey-lightest py-16">
	<%# allow the footer to look like it fills to the bottom of the page %>
	<main class="container border-grey-light border text-lg">
      <%= render @view_module, @view_template, assigns %>
    </main>
</div>
	<footer class="bg-grey-light text-lg border-t border-grey pt-8 leading-normal">
		<div class="container">
			<p>Risteys <a href="<%= Routes.changelog_path(@conn, :index) %>#v1.8.1">v1.8.1</a> (2020-05-26).</p>
			<p>
				<a href="https://airtable.com/shrTzTwby7JhFEqi6" target="_blank" rel="noopener noreferrer external" >Contact us</a> for feedback or <a href="https://github.com/dsgelab/risteys/issues/new" target="_blank" rel="noopener noreferrer external">open an issue</a> on Risteys GitHub.
			</p>
			<p>Made at <a href="https://www.fimm.fi/" target="_blank" rel="noopener noreferrer external">FIMM</a> in Helsinki, Finland.</p>
			<nav></nav>
		</div>
	</footer>

	<script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
