<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FinRegistry-FinnGen Risteys R8 beta - <%= @page_title %></title>
	<link rel="apple-touch-icon" href={Routes.static_path(@conn, "/images/apple-touch-icon.png")}>
	<link rel="icon" type="image/png" sizes="32x32" href={Routes.static_path(@conn, "/images/favicon-32x32.png")}>
	<link rel="icon" type="image/png" sizes="16x16" href={Routes.static_path(@conn, "/images/favicon-16x16.png")}>
	<link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")}/>
</head>
<body class="font-sans bg-grey-light">

	<header class="bg-blue-darker text-white">
		<div class="fluid-container">
			<div class="header py-2">
				<h1 class="text-4xl space-nowrap">
					<span id="toggle-nav-menu" class="navmenu">≡</span>
					<a id="Risteys-link" href={Routes.static_path(@conn, "/")}>Risteys</a>
					<span class="subnav"> <!-- span tag is used to keep 'R-' version in same line with 'Risteys' even when page is narrow-->
						<details class="details-R-nav">
							<summary class="R-nav"> <span class="font-normal" style="font-size: 0.75em">2 Beta R8</span> </summary>
							<div class="subnav-content">
								<ul class="R-subnav" >
									<!-- change_release_url function in views/layout_view.ex makes a link to the current page in selected Risteys version -->
									<li><a href={change_release_url(@conn, 9)} target="_blank" rel="noopener noreferrer external">FinnGen Risteys R9</a></li>
									<li><a href={change_release_url(@conn, 8)} target="_blank" rel="noopener noreferrer external">FinnGen Risteys R8</a></li>
									<li><a href={change_release_url(@conn, 7)} target="_blank" rel="noopener noreferrer external">FinnGen Risteys R7</a></li>
									<li><a href={change_release_url(@conn, 6)} target="_blank" rel="noopener noreferrer external">FinnGen Risteys R6</a></li>
									<li><a href={change_release_url(@conn, 5)} target="_blank" rel="noopener noreferrer external">FinnGen Risteys R5</a></li>
									<li><a href={change_release_url(@conn, 4)} target="_blank" rel="noopener noreferrer external">FinnGen Risteys R4</a></li>
									<li><a href={change_release_url(@conn, 3)} target="_blank" rel="noopener noreferrer external">FinnGen Risteys R3</a></li>
								</ul>
							</div>
						</details>

					</span>
				</h1>
				<nav id="nav-narrow">
					<p class="grid-1col">
						<a href="/documentation">Documentation</a>
						<a href="/changelog">Changelog</a>
						<a href="https://github.com/dsgelab/risteys/" target="_blank" rel="noopener noreferrer external">GitHub</a>
						<a href="https://airtable.com/shrTzTwby7JhFEqi6" target="_blank" rel="noopener noreferrer external"><b>Contact &amp; Feedback</b></a>
					</p>
					<p class="grid-1col">
						<span class="section-title">On this page:</span>
						<a href="#endpoint-definition">Endpoint definition</a>
						<a href="#summary-statistics">Summary statistics</a>
						<a href="#correlations">Correlations</a>
						<a href="#survival-analyses">Survival analyses</a>
						<a href="#drugs-statistics">Drug statistics</a>
					</p>
				</nav>
				<div class="searchbox">
					<div id="endpoint-searchbox"></div>
				</div>
				<div class="actions text-lg">
					<a href="/documentation">Documentation</a>
					<a href="/changelog">Changelog</a>
					<a href="https://github.com/dsgelab/risteys/" target="_blank" rel="noopener noreferrer external">GitHub</a>
					<a href="https://airtable.com/shrTzTwby7JhFEqi6" target="_blank" rel="noopener noreferrer external"><b>Contact &amp; Feedback</b></a>
				</div>
			</div>
		</div>
	</header>
	<div class="h-2 bg-blue-dark shadow-lg"></div>

<div class="bgcream py-8">
	<%# allow the footer to look like it fills to the bottom of the page %>
	<%= @inner_content %>
</div>
	<footer class="bg-grey-light text-lg border-t border-grey py-8 leading-normal">
		<div class="fluid-container">
			<p>Risteys <a href={"#{Routes.changelog_path(@conn, :index)}#v2.0.0"}>v2.0.0</a> (2022-02-24).</p>
			<p>
				<a href="https://airtable.com/shrTzTwby7JhFEqi6" target="_blank" rel="noopener noreferrer external" >Contact us</a> for feedback or <a href="https://github.com/dsgelab/risteys/issues/new" target="_blank" rel="noopener noreferrer external">open an issue</a> on Risteys GitHub.
			</p>
			<p>Made at <a href="https://www.fimm.fi/" target="_blank" rel="noopener noreferrer external">FIMM</a> in Helsinki, Finland.</p>
		</div>
	</footer>

	<script src={Routes.static_path(@conn, "/js/app.js")}></script>
</body>
</html>
