<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Risteys FinnGen R10</title>
	<link rel="apple-touch-icon" href={Routes.static_path(@conn, "/images/apple-touch-icon.png")}>
	<link rel="icon" type="image/png" sizes="32x32" href={Routes.static_path(@conn, "/images/favicon-32x32.png")}>
	<link rel="icon" type="image/png" sizes="16x16" href={Routes.static_path(@conn, "/images/favicon-16x16.png")}>
	<link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")}/>
</head>

<body class="bgcream">
	<div class="fr-banner">
  🎉 Check out the future of Risteys: <span style="font-weight: bold"><a href="https://risteys.finregistry.fi" target="_blank">FinRegistry + FinnGen Risteys</a></span> and <%= RisteysWeb.ViewHelpers.ahref_feedback(@conn, "let us know what you think") %> 🙂
	</div>
	<header class="bg-blue-darker text-white">
		<div class="fluid-container">
			<div class="header frontpage py-2">
				<div class="actions text-lg">
					<a href="/documentation">Documentation</a>
					<a href="/changelog">Changelog</a>
					<a href="https://github.com/dsgelab/risteys/" target="_blank" rel="noopener noreferrer external">GitHub</a>
					<a href="https://airtable.com/shrTzTwby7JhFEqi6" target="_blank" rel="noopener noreferrer external"><b>Contact &amp; Feedback</b></a>
					<div class="actions subnav">
						<span> Other FinnGen data releases </span>
						<div class="subnav-content">
							<!-- vertical alignment of submenu items-->
							<ul>
								<li><a href="https://r9.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R9</a></li>
								<li><a href="https://r8.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R8</a></li>
								<li><a href="https://r7.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R7</a></li>
								<li><a href="https://r6.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R6</a></li>
								<li><a href="https://r5.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R5</a></li>
								<li><a href="https://r4.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R4</a></li>
								<li><a href="https://r3.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R3</a></li>
							</ul>
						</div>
					</div>
				</div>
				<h1 class="text-5xl space-nowrap">
					<span id="toggle-nav-menu" class="navmenu">≡</span>
					<a href={Routes.static_path(@conn, "/")}>Risteys <span class="font-normal text-4xl">R10</span></a>
				</h1>
				<h2>Explore FinnGen data at the phenotype level</h2>
				<nav id="nav-narrow">
					<p class="grid-1col">
						<a href="/documentation">Documentation</a>
						<a href="/changelog">Changelog</a>
						<a href="https://github.com/dsgelab/risteys/" target="_blank" rel="noopener noreferrer external">GitHub</a>
						<a href="https://airtable.com/shrTzTwby7JhFEqi6" target="_blank" rel="noopener noreferrer external"><b>Contact &amp; Feedback</b></a>
						<div >
							<p class = "p1-m1">Other FinnGen data releases</p>
							<p class = "p1-m1 ml2-pl6"> <a href="https://r7.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R7</a></p>
							<p class = "p1-m1 ml2-pl6"><a href="https://r6.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R6</a></p>
							<p class = "p1-m1 ml2-pl6"><a href="https://r5.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R5</a></p>
							<p class = "p1-m1 ml2-pl6"><a href="https://r4.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R4</a></p>
							<p class = "p1-m1 ml2-pl6"><a href="https://r3.risteys.finngen.fi" target="_blank" rel="noopener noreferrer external">R3</a></p>
						</div>
					</p>
				</nav>
			</div>
		</div>
	</header>
	<div class="h-2 bg-blue-dark shadow-lg mb-8"></div>







<div class="fluid-container">
  <%= @inner_content %>
</div>
</body>
</html>
