<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Refresh" content="12; URL=https://risteys.finregistry.fi/"/>
	<title>Redirecting to FinRegistry/FinnGen Risteys</title>
<style>
body {
	background-color: #dbdee1;
	font-family: sans-serif;
	display: grid;
}

article {
	margin-top: 10vh;
	justify-self: center;
}

article h1 {
	margin-bottom: 1.6em;
}

article p {
	margin-bottom: 0.8em;
	line-height: 1.7;
}
</style>
</head>
<body>
<article>
	<h1>We are redirecting you to the new Risteys</h1>

	<p>The <a href="https://risteys.finregistry.fi/">new Risteys</a> has data for FinnGen and FinRegistry.<br>
	You can use the <a href="https://airtable.com/shrTzTwby7JhFEqi6?prefill_Page=_home_redir" target="_blank" rel="noopener noreferrer external">feedback form</a> if you encounter any difficulty.</p>

	<p>You will be automatically redirected to the new Risteys in a few seconds.</p>
</article>
</body>
</html>
