<div class="container w-2/5">
  <h1 class="text-center text-5xl tracking-wide mt-10">Risteys</h1>
  <h2 class="text-center font-normal mt-5 mb-10">Explore Finngen data at the phenotype level</h2>
  <div id="app">
    <risteys-search :results="search_results"></risteys-search>

  </div>
</div>
