@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/public_sans_wght.subset.woff2') format('woff2');
    font-weight: 100 900;
    font-display: fallback;
    font-style: normal;
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2070, U+2074-2079, U+20AC, U+2212, U+2215;
}
@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/public_sans_italic_wght.subset.woff2') format('woff2');
    font-weight: 100 900;
    font-display: fallback;
    font-style: italic;
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2070, U+2074-2079, U+20AC, U+2212, U+2215;
}
