<article class="w-full endpoint-explainer box_content">
	<div class="mb-6">
		<table class="horizontal table-padding">
			<thead>
				<tr>
					<th>
						<h3 class="mt-2"> Endpoint definition steps </h3>
					</th>
					<th class="th-pl-6">
						<h4>FinRegistry </h4>
					</th>
					<th class="th-pl-6">
						<h4> FinnGen </h4>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<th>
						<h4> Phenotype data </h4>
					</th>
					<td>
						<%= get_explainer_step(@steps, :all).nindivs_post_step_FR %>
					</td>
					<td>
						<%= get_explainer_step(@steps, :all).nindivs_post_step_FG %>
					</td>
				</tr>

				<!-- Apply sex-specific rule -->
				<%= case get_explainer_step(@steps, :sex_rule) do %>
					<% %{data: nil, nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} -> %>
						<tr class="grey">
							<th>
								<h4>
									1. Apply sex-specific rule
								</h4>
								<p class="italic">
									None
								</p>
							</th>
							<td>
								<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
							</td>
							<td>
								<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
							</td>
						</tr>
					<% %{data: sex_rule, nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} -> %>
						<tr>
							<th>
								<h4>
									1. Apply sex-specific rule
								</h4>
								<p>
									<%= case sex_rule do %>
										<% "1" -> %>only males
										<% "2" -> %>only females
									<% end %>
								</p>
							</th>
							<td>
						 		<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
							</td>
							<td>
								<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
							</td>
						</tr>
				<% end %>

				<%= case get_explainer_step(@steps, :conditions) do %>
					<% %{data: [], nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} -> %>
						<tr class="grey">
							<th>
								<h4>
									2. Check conditions
								</h4>
								<p class="italic">
									None
								</p>
							</th>
							<td>
						 		<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
							</td>
							<td>
								<%= ncases_FG %>
							</td>
						</tr>

					<% %{data: conditions, nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} -> %>
						<tr>
							<th>
								<h4>
									2. Check conditions
								</h4>
								<ul>
									<%= for condition <- readable_conditions(conditions) do %>
									<li class="pb-1">
										<%= condition %>
									</li>
									<% end %>
								</ul>
							</th>
							<td>
						 		<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
							</td>
							<td>
								<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
							</td>
				<% end %>

				<!-- Check pre-conditions, main-only, mode, registry filters -->
				<%= case get_explainer_step(@steps, :multi) do %>
					<% %{data: data, nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} when data == %{} -> %>
						<tr class="grey">
							<th>
								<h4>
									3. Check pre-conditions, main-only, mode, registry filters
								</h4>
								<p class="italic">
									None
								</p>
								<p class="pt-4">
									<%= @count_registries.used %> out of <%= @count_registries.total %> registries used,
									<a href="#dialog-view-original-rules" onclick="openDialog('view-original-rules')">show all original rules</a>.
								</p>
							</th>
							<td> <%= if is_nil(ncases_FR), do: "-", else: ncases_FR %> </td>
							<td>
								<p>
									<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
								</p>
							</td>
						</tr>
					<% %{data: data, nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} -> %>
						<tr>
							<th>
								<h4>
									3. Check pre-conditions, main-only, mode, registry filters
								</h4>

								<!-- Pre-conditions -->
								<%= if Map.has_key?(data, :precond) do %>
									<p class="pt-4">
										<b>Pre-conditions:</b> <%= data.precond %>
									</p>
								<% end %>

								<!-- Main only -->
								<%= if Map.has_key?(data, :main_only) do %>
									<p class="pt-4">
										<b>Main diagnosis only:</b> side diagnoses are not checked.
									</p>
								<% end %>

								<!-- Mode -->
								<%= if Map.has_key?(data, :mode) do %>
									<p class="pt-4">
										<b>Check <abbr data-title="A case is made only if these codes are the most common among their sibling ICD codes.">mode</abbr> of ICD-10 codes:</b>
										<%= Enum.intersperse(data.mode, ", ") %>
									</p>
								<% end %>

								<!-- Registry filters-->
								<p class="font-bold pt-4">
									Registry filters:
								</p>
								<%= case Map.get(data, :filter_registries) do %>
									<% nil -> %>
									<% filters -> %>
										<ul>
											<%# OUTPAT ICD %>
											<%= if Map.has_key?(filters, :outpat_icd) do %>
												<li class="pb-1">
													<b>Primary healthcare outpatient:</b> ICD-10
													<span class="pl-2 pr-2">—</span>
													<%= cell_icd10(filters, :outpat_icd, :outpat_icd_exp) %>
												</li>
											<% end %>

											<%# OUTPAP_OPER %>
											<%= if Map.has_key?(filters, :outpat_oper) do %>
												<li class="pb-1">
													<b>Primary healthcare outpatient:</b> <abbr data-title="Nordic Medico-Statistical Committee">NOMESCO</abbr>
													<span class="pl-2 pr-2">—</span>
													<%= filters.outpat_oper %>
												</li>
											<% end %>

											<%# HD %>
											<%# -- HD ATC %>
											<%= if Map.has_key?(filters, :hd_icd_10_atc) do %>
												<li class="pb-1">
													<b>Hospital discharge:</b> ATC codes for adverse effects of Drugs
													<span class="pl-2 pr-2">—</span>
													<%= filters.hd_icd_10_atc %>
												</li>
											<% end %>

											<%# -- HD ICD-10 %>
											<%= if Map.has_key?(filters, :hd_icd_10) do %>
												<li class="pb-1">
													<b>Hospital discharge:</b> ICD-10
													<span class="pl-2 pr-2">—</span>
													<%= cell_icd10(filters, :hd_icd_10, :hd_icd_10_exp) %>
												</li>
											<% end %>

											<%# -- HD ICD-9 %>
											<%= if Map.has_key?(filters, :hd_icd_9) do %>
												<li class="pb-1">
													<b>Hospital discharge:</b> ICD-9
													<span class="pl-2 pr-2">—</span>
													<%= filters.hd_icd_9 %>
												</li>
											<% end %>

											<%# -- HD ICD-8 %>
											<%= if Map.has_key?(filters, :hd_icd_8) do %>
												<li class="pb-1">
													<b>Hospital discharge:</b> ICD-8
													<span class="pl-2 pr-2">—</span>
													<%= filters.hd_icd_8 %>
												</li>
											<% end %>

                                            <%# -- HD ICD-10 excl %>
                                            <%= if Map.has_key?(filters, :hd_icd_10_excl) do %>
                                                <li class="pb-1">
                                                    <b>Hospital discharge:</b> excluded ICD-10
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= cell_icd10(filters, :hd_icd_10_excl, :hd_icd_10_excl_exp) %>
                                                </li>
                                            <% end %>

                                            <%# -- HD ICD-9 excl %>
                                            <%= if Map.has_key?(filters, :hd_icd_9_excl) do %>
                                                <li class="pb-1">
                                                    <b>Hospital discharge:</b> excluded ICD-9
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.hd_icd_9_excl %>
                                                </li>
                                            <% end %>

                                            <%# -- HD ICD-8 excl %>
                                            <%= if Map.has_key?(filters, :hd_icd_8_excl) do %>
                                                <li class="pb-1">
                                                    <b>Hospital discharge:</b> excluded ICD-8
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.hd_icd_8_excl %>
                                                </li>
                                            <% end %>

                                            <%# COD %>
                                            <%# -- COD ICD-10 %>
                                            <%= if Map.has_key?(filters, :cod_icd_10) do %>
                                                <li class="pb-1">
                                                    <b>Cause of death:</b> ICD-10
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= cell_icd10(filters, :cod_icd_10, :cod_icd_10_exp) %>
                                                </li>
                                            <% end %>

                                            <%# -- COD ICD-9 %>
                                            <%= if Map.has_key?(filters, :cod_icd_9) do %>
                                                <li class="pb-1">
                                                    <b>Cause of death:</b> ICD-9
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.cod_icd_9 %>
                                                </li>
                                            <% end %>

                                            <%# -- COD ICD-8 %>
                                            <%= if Map.has_key?(filters, :cod_icd_8) do %>
                                                <li class="pb-1">
                                                    <b>Cause of death:</b> ICD-8
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.cod_icd_8 %>
                                                </li>
                                            <% end %>

                                            <%# -- COD ICD-10 excl %>
                                            <%= if Map.has_key?(filters, :cod_icd_10_excl) do %>
                                                <li class="pb-1">
                                                    <b>Cause of death:</b> excluded ICD-10
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= cell_icd10(filters, :cod_icd_10_excl, :cod_icd_10_excl_exp) %>
                                                </li>
                                            <% end %>

                                            <%# -- COD ICD-9 excl %>
                                            <%= if Map.has_key?(filters, :cod_icd_9_excl) do %>
                                                <li class="pb-1">
                                                    <b>Cause of death:</b> excluded ICD-9
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.cod_icd_9_excl %>
                                                </li>
                                            <% end %>

                                            <%# -- COD ICD-8 excl %>
                                            <%= if Map.has_key?(filters, :cod_icd_8_excl) do %>
                                                <li class="pb-1">
                                                    <b>Cause of death:</b> excluded ICD-8
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.cod_icd_8_excl %>
                                                </li>
                                            <% end %>

                                            <%# OPER %>
                                            <%# -- OPER NOM %>
                                            <%= if Map.has_key?(filters, :oper_nom) do %>
                                                <li class="pb-1">
                                                    <b>Operations:</b> <abbr data-title="Nordic Medico-Statistical Committee">NOMESCO</abbr> codes
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.oper_nom %>
                                                </li>
                                            <% end %>

                                            <%# -- OPER HL %>
                                            <%= if Map.has_key?(filters, :oper_hl) do %>
                                                <li class="pb-1">
                                                    <b>Operations:</b> Finnish Hospital League codes
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.oper_hl %>
                                                </li>
                                            <% end %>

                                            <%# -- OPER HP1 %>
                                            <%= if Map.has_key?(filters, :oper_hp1) do %>
                                                <li class="pb-1">
                                                    <b>Operations:</b> Heart Patient codes v1
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.oper_hp1 %>
                                                </li>
                                            <% end %>

                                            <%# -- OPER HP2 %>
                                            <%= if Map.has_key?(filters, :oper_hp2) do %>
                                                <li class="pb-1">
                                                    <b>Operations:</b> Heart Patient codes v2
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.oper_hp2 %>
                                                </li>
                                            <% end %>

                                            <%# REIMB %>
                                            <%# -- REIMB KELA %>
                                            <%= if Map.has_key?(filters, :kela_reimb) do %>
                                                <li class="pb-1">
                                                    <b><abbr data-title="Finnish Social Insurance Institution">KELA</abbr> reimbursements:</b> KELA codes
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.kela_reimb %>
                                                </li>
                                            <% end %>

                                            <%# -- REIMB ICD %>
                                            <%= if Map.has_key?(filters, :kela_reimb_icd) do %>
                                                <li class="pb-1">
                                                    <b><abbr data-title="Finnish Social Insurance Institution">KELA</abbr> reimbursements:</b> ICD-10
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= cell_icd10(filters, :kela_reimb_icd, :kela_reimb_icd_exp) %>
                                                </li>
                                            <% end %>

                                            <%# MED PURCH %>
                                            <%# -- ATC %>
                                            <%= if Map.has_key?(filters, :kela_atc) do %>
                                                <li class="pb-1">
                                                    <b>Medicine purchases:</b> ATC
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.kela_atc %>
                                                </li>
                                            <% end %>

                                            <%# -- VNRO %>
                                            <%= if Map.has_key?(filters, :kela_vnro) do %>
                                                <li class="pb-1">
                                                    <b>Medicine purchases:</b> VNRO
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.kela_vnro %>
                                                </li>
                                            <% end %>

                                            <%# CANCER %>
                                            <%# -- TOPO %>
                                            <%= if Map.has_key?(filters, :canc_topo) do %>
                                                <li class="pb-1">
                                                    <b>Cancer registry:</b> Topography ICD-O-3
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.canc_topo %>
                                                </li>
                                            <% end %>

                                            <%# -- TOPO excl %>
                                            <%= if Map.has_key?(filters, :canc_topo_excl) do %>
                                                <li class="pb-1">
                                                    <b>Cancer registry:</b> excluded Topography ICD-O-3
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.canc_topo_excl %>
                                                </li>
                                            <% end %>

                                            <%# -- MORPH %>
                                            <%= if Map.has_key?(filters, :canc_morph) do %>
                                                <li class="pb-1">
                                                    <b>Cancer registry:</b> Morphology ICD-O-3
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.canc_morph %>
                                                </li>
                                            <% end %>

                                            <%# -- MORPH excl %>
                                            <%= if Map.has_key?(filters, :canc_morph_excl) do %>
                                                <li class="pb-1">
                                                    <b>Cancer registry:</b> excluded Morphology ICD-O-3
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.canc_morph_excl %>
                                                </li>
                                            <% end %>

                                            <%# -- BEHAV %>
                                            <%= if Map.has_key?(filters, :canc_behav) do %>
                                                <li class="pb-1">
                                                    <b>Cancer registry:</b> Behaviour codes
                                                    <span class="pl-2 pr-2">—</span>
                                                    <%= filters.canc_behav %>
                                                </li>
                                            <% end %>
										</ul>
								<% end %>
								<!-- end of registry filters -->

								<p class="pt-4">
									<%= @count_registries.used %> out of <%= @count_registries.total %> registries used,
									<a href="#dialog-view-original-rules" onclick="openDialog('view-original-rules')">show all original rules</a>.
								</p>
							</th>
							<td> <%= if is_nil(ncases_FR), do: "-", else: ncases_FR %> </td>
							<td>
								<p>
									<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
								</p>
							</td>
						</tr>
				<% end %>
				<!-- end of "Check pre-conditions, main-only, mode, registry filters"-->

				<!-- min_number_events -->
				<%= case get_explainer_step(@steps, :min_number_events) do %>
					<% %{data: nil, nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} -> %>
						<tr class="grey">
							<th>
								<h4>
									4. Check minimum number of events
								</h4>
								<p class="italic">
									None
								</p>
							</th>
							<td> <%= if is_nil(ncases_FR), do: "-", else: ncases_FR %> </td>
							<td>
								<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
							</td>
						</tr>

					<% %{data: nevents, nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} -> %>
						<tr>
							<th>
								<h4>
									4. Check minimum number of events
								</h4>


								<div role="row">
									<span role="rowheader">Min. number of events</span>
									<%= case nevents do %>
										<% :and_need_other_rule -> %>
										<span role="cell">3, and need other rules</span>
										<% nevents -> %>
										<span role="cell"><%= nevents %></span>
									<% end %>
								</div>
							</th>
							<td>
								<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
							</td>
							<td>
								<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
							</td>
						</tr>
				<% end %>
				<!-- end of min_number_events -->


				<!-- include endpoints -->
				<%= case get_explainer_step(@steps, :includes) do %>
					<% %{data: [], nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} -> %>
						<tr class="grey">
							<th>
								<h4>
									5. Include endpoints
								</h4>
								<p class="italic">
									None
								</p>
							</th>
							<td>
						 		<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
							</td>
							<td>
								<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
							</td>
						</tr>

					<% %{data: includes, nindivs_post_step_FG: ncases_FG, nindivs_post_step_FR: ncases_FR} -> %>
						<tr>
							<th>
								<h4>
									5. Include endpoints
								</h4>

								<ul>
									<%= for subendpoint <- includes do %>
										<li class="pb-1">
											<a href={subendpoint}><%= subendpoint %></a>
										</li>
									<% end %>
								</ul>
							</th>
							<td>
						 		<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
							</td>
							<td>
								<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
							</td>
						</tr>
				<% end %>
				<!-- end of include endpoints -->

				<!-- Add an extra last step to account for the filtering done in Risteys pipeline that is not done in the intermediate-counts from the Endpointter

				first check if there was an intermediate count in previous step
				- if count for previous step (:includes) is nil, show "-", to be consistent & present step as not applied (grey)
				- if previous step is NOT nil but there are no cases, show 0 & present step as not applied (grey). (If key_figures.nindivs_all is nil, it's converted to "-" in controller)
				- else show case count. (is_nil(ncases_FG) is only a precaution, it should never occur)

				Note, that this step only applied for FinnGen because FinRegistry doesn't include genetic data.
				-> key figures data is needed only from FinnGen. Show count from previous step for FinRegistry.
				-->
				<%= case get_explainer_step(@steps, :includes) do %>
					<% %{data: _, nindivs_post_step_FG: nil, nindivs_post_step_FR: ncases_FR} -> %>
						<tr class="grey">
							<th>
								<h4>
									6. Filter based on genotype QC (FinnGen only)
								</h4>
								<p class="italic">
									None
								</p>
							</th>
							<td>
								<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
							</td>
							<td>
								-
							</td>
						</tr>

					<!-- need to pattern match against output of get_explainer_step/2 to have nindivs_post_step_FR available for table -->
					<% %{data: _, nindivs_post_step_FG: _, nindivs_post_step_FR: ncases_FR} -> %>
						<%= case {@key_figures.nindivs_all, ncases_FR} do %>
							<% {"-", ncases_FR} -> %>
								<tr class="grey">
									<th>
										<h4>
											6. Filter based on genotype QC (FinnGen only)
										</h4>
										<p class="italic">
											None
										</p>
									</th>
									<td class="grey"> <!-- show count with grey color because this step is never applied for FR-->
										<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
									</td>
									<td>
										0
									</td>
								</tr>

							<% {ncases_FG, ncases_FR} -> %>
								<tr>
									<th>
										<h4>
											6. Filter based on genotype QC (FinnGen only)
										</h4>
									</th>
									<td class="grey">
										<%= if is_nil(ncases_FR), do: "-", else: ncases_FR %>
									</td>
									<td>
										<%= if is_nil(ncases_FG), do: "-", else: ncases_FG %>
									</td>
								</tr>
						<% end %>
					<% end %>
			</tbody>
		</table>
	</div>

	<div class="mt-4">
		<p>
			<b>Control definitions (FinnGen only)</b>
		</p>
		<%= case control_definitions(@endpoint) do %>
			<% [] -> %>
			<p>Controls for this endpoint are individuals that are not cases.</p>

			<% table_data -> %>
			<div role="table">
				<%= for {col, val} <- table_data do %>
				<div role="row">
					<span role="rowheader"><%= col %></span>
					<span role="cell"><%= val %></span>
				</div>
				<% end %>
			</div>
		<% end %>
	</div>

	<%= case readable_metadata(@endpoint) do %>
		<% [] -> %>
		<% metadata -> %>
		<div class="mt-2">
			<p>
				<b>Extra metadata</b>
			</p>
			<div role="table">
				<%= for {col, val} <- metadata do %>
				<div role="row">
					<span role="rowheader"><%= col %></span>
					<span role="cell"><%= val %></span>
				</div>
				<% end %>
			</div>
		</div>
	<% end %>


	<%#
	Dialog with the original endpoint definitions.
	%>
		<div id="view-original-rules" class="dialog-backdrop hidden" tabindex="0">
			<div role="dialog"
				aria-labelledby="view-original-rules-label"
				aria-modal="true"
			>
				<div class="dialog-header">
					<h2 id="view-original-rules-label" class="dialog-label">All original rules</h2>
					<button class="button-faded" onclick="closeDialog('view-original-rules')">Close</button>
				</div>

				<article class="mt-2">
					<table class="font-mono">
						<tbody class="alternate-bg">
							<%= rows_original_rules(@endpoint) %>
						</tbody>
					</table>
				</article>
			</div>
		</div>


	<%#
	The upset plot needs to be the last child otherwise we cannot interact (e.g. click the <a>) with it:
	- it has a "position: absolute"
	- the other elements would be drawn over it
	- even if they don't make it disappear, they make it uninteractive
	%>

	<article class="link-upset-plot">
		<%= #render(RisteysWeb.FGEndpointView, "upset_plot.html", assigns) %>
	</article>

</article>
